/* Box Styles */
body {
	padding: 0;
	margin: 0;
	background: #F7F7F7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	overflow-y: hidden;
}
img {
	border: 0;
}
#container {
	padding: 0px 10px;
	height: 355px;
	overflow: hidden;
}
#file-menu {
	clear: both;
	height: 29px;
	margin-bottom: 3px;
}
#column-left {
	background: #FFF;
	border: 1px solid #CCC;
	float: left;
	width: 26%;
	height: 285px;
	overflow: auto;
}
#column-right {
	background: #FFF;
	border: 1px solid #CCC;
	float: right;
	width: 72%;
	height: 285px;
	overflow: auto;
	text-align: center;
}
#column-right div {
	text-align: left;
	padding: 5px;
}
#column-right a {
	display: inline-block;
	text-align: center;
	border: 1px solid #EEE;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
}
#column-right a.selected {
	border: 1px solid #7DA2CE;
	background: #EBF4FD;
}
#column-right input {
	display: none;
}
#dialog {
	display: none;
}
/* Buttons */
.filemanager-button {
	display: block;
	float: left;
	padding: 8px 5px 8px 25px;
	margin-top: 1px;
	margin-right: 5px;
	background-position: 5px 6px;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}
/* Images */
.thumb {
	padding: 5px;
	width: 90px;
	height: 90px;
	background: #F7F7F7;
	border: 1px solid #CCC;
	cursor: pointer;
	cursor: move;
	position: relative;
}
#updateImage a {
	width: 130px;
	height: 16px;
	color: #FBFBFB;
	text-align: center;
	line-height: 16px;
	font-size: 115%;
	font-weight: bold;
	margin: auto;
	margin-top: 3px;
	padding: 5px;
	border: 1px solid #DDD;
	background: #5C9CCC;
	background-position: 0px -50px;
}
#updateImage a:hover {
	background-position: 0px 0px;
	background-color: #EEE;
}
/* Tools */
#toolset .btn {
	float: left;
	font-size: 10px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.fileName {
	display: block;
}
.fileSize {
	clear: both;
	display: block;
}
.feedback {
	color: #1571B0;
	font-size: 14px;
	font-weight: bold;
	margin: 30px 0px 0px 50px;
}
