/* Page Styles */
#files-menu {
	clear: both;
	position: relative;
	height: 33px;
	min-width: 900px;
	background-color: #4A4A4A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4A4A4A), to(#333));
	background-image: -webkit-linear-gradient(top, #4A4A4A, #333);
	background-image: -moz-linear-gradient(top, #4A4A4A, #333);
	background-image: -ms-linear-gradient(top, #4A4A4A, #333);
	background-image: -o-linear-gradient(top, #4A4A4A, #333);
	background-image: linear-gradient(to bottom, #4A4A4A, #333);
	border-bottom: 1px solid #333;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	padding-left: 10px;
}
#files-menu a {
	color: #FFF;
	padding-left: 27px;
	margin-right: 15px;
}
#column-left {
	background: #FFF;
	border: 1px solid #CCC;
	border-top: none;
	-webkit-border-radius: 0px 0px 0px 3px;
	-moz-border-radius: 0px 0px 0px 3px;
	-khtml-border-radius: 0px 0px 0px 3px;
	border-radius: 0px 0px 0px 3px;
	float: left;
	width: 25%;
	height: 367px;
	margin-bottom: 9px;
	padding-top: 5px;
}
#column-right {
	background: #FFF;
	border: 1px solid #CCC;
	border-top: none;
	-webkit-border-radius: 0px 0px 3px 0px;
	-moz-border-radius: 0px 0px 3px 0px;
	-khtml-border-radius: 0px 0px 3px 0px;
	border-radius: 0px 0px 3px 0px;
	float: right;
	width: 73%;
	height: 400px;
	text-align: center;
	margin-bottom: 15px;
	padding-top: 5px;
	overflow: auto;
}
#column-right div {
	text-align: left;
	padding: 5px;
	margin-bottom: 55px;
}
#column-right a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: 1px solid #EEE;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
}
#column-right a.selected {
	border: 1px solid #7DA2CE;
	background: #EBF4FD;
}
#column-right input {
	display: none;
}
#dialog {
	display: none;
}
/* Buttons */
.filemanager-button {
	display: block;
	float: left;
	padding: 7px 5px 7px 25px;
	margin-top: 2px;
	margin-right: 5px;
	background-position: 5px 6px;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}
.filemanager-button:hover {
	background-color: #222;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}
/* Images */
.thumb {
	padding: 5px;
	width: 105px;
	height: 105px;
	background: #F7F7F7;
	border: 1px solid #CCC;
	cursor: pointer;
	cursor: move;
	position: relative;
}
#updateImage a {
	width: 130px;
	height: 16px;
	color: #FBFBFB;
	text-align: center;
	line-height: 16px;
	font-size: 115%;
	font-weight: bold;
	margin: auto;
	margin-top: 3px;
	padding: 5px;
	border: 1px solid #DDD;
	background: #5C9CCC;
	background-position: 0px -50px;
}
#updateImage a:hover {
	background-position: 0px 0px;
	background-color: #EEE;
}
/* Filter */
.filter {
	position: relative;
	clear: left;
	float: left;
    width: 25%;
	background: #FFF;
    border: 1px solid #CCC;
	margin: 0px 0px 15px 0px;
}
.filter > input {
	margin: 0;
	padding: 1px 0px 1px 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #FFF;
	border: none;
	height: 20px;
	width: 80%;
}
.filter > input:focus {
	margin: 0;
	outline: 0;
}
.filter > img {
	position: relative;
	float: right;
	background: #FFF;
	line-height: 20px;
	margin-right: 2px;
}
/* Tools */
#toolset {
	clear: both;
}
#toolset .btn {
	float: left;
	font-size: 10px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.fileName {
	display: block;
}
.fileSize {
	clear: both;
	display: block;
}
.feedback {
	color: #1571B0;
	font-size: 14px;
	font-weight: bold;
	margin: 30px 0px 0px 50px;
}
