/* -----------------------------------
* Overclocked Edition - Invoice
* Copyright © 2018 - Villagedefrance
* ------------------------------------
*/
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	background: #FFF;
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}
td span {
	font-size: 10px;
}
td > img {
	margin: 2px 2px 0 0;
}
h1 {
	text-transform: uppercase;
	color: #BBB;
	text-align: right;
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 5px;
	margin-top: 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #DDD;
}
/* General */
.store {
	width: 100%;
	margin-bottom: 20px;
}
.div2 {
	float: left;
	display: inline-block;
}
.div3 {
	float: right;
	display: inline-block;
	padding: 5px;
}
.heading td {
	background: #F2F2F2;
}
/* Table */
table.address, table.product, table.comment, table.delivery {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.bank {
	width: 100%;
	margin-top: 20px;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.top-left {
	width: 50%;
}
.top-right {
	float: right;
	width: 50%;
	text-align: left;
	vertical-align: top;
}
/* Address */
.address {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.address th, .address td {
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 5px;
	vertical-align: text-bottom;
}
.address td {
	width: 50%;
}
/* Product */
.product {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.product td {
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 5px;
}
/* Comment */
.comment {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.comment td {
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 5px;
}
/* Delivery */
.delivery {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.delivery th, .delivery td {
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 5px;
	vertical-align: text-bottom;
}
.delivery td {
	width: 50%;
}
