html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	background: #FFF;
	margin: 0;
	padding: 0;
}
body, td, th, input, select, textarea, fieldset, option, optgroup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #111;
}
input[type='text'], input[type='password'], textarea {
	padding: 3px 0px 3px 4px;
	min-height: 16px;
	margin-left: 0px;
	margin-right: 0px;
	border-top: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	border-bottom: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -moz-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -ms-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -o-linear-gradient(top, #F2F5F7, #FFF);
	background-image: linear-gradient(to bottom, #F2F5F7, #FFF);
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
}
fieldset {
	width: 90%;
	border-top: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	border-bottom: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -moz-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -ms-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -o-linear-gradient(top, #F2F5F7, #FFF);
	background-image: linear-gradient(to bottom, #F2F5F7, #FFF);
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
	margin: 10px 0px;
}
fieldset p.field {
	display: inline-block;
	margin: 0px;
	padding: 3px 5px;
	width: 23%;
}
input.checkbox:not(old), input.radio:not(old) {
	display: none;
	margin: 0;
	padding: 0;
	opacity: 0;
}
input.checkbox:not(old) + label, input.radio:not(old) + label {
	display: inline-block;
	margin-left: 0px;
	line-height: 16px;
}
input.checkbox:not(old) + label > span, input.radio:not(old) + label > span {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 1px 5px 1px 1px;
	border-top: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	border-bottom: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -moz-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -ms-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -o-linear-gradient(top, #F2F5F7, #FFF);
	background-image: linear-gradient(to bottom, #F2F5F7, #FFF);
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
	vertical-align: bottom;
}
input.checkbox:not(old):checked + label > span, input.radio:not(old):checked + label > span {
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -moz-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -ms-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -o-linear-gradient(top, #F2F5F7, #FFF);
	background-image: linear-gradient(to bottom, #F2F5F7, #FFF);
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
}
input.checkbox:not(old):checked + label > span:before {
	content: '✓';
	display: block;
	width: 12px;
	color: #46719F;
	font-size: 20px;
	font-weight: bold;
	line-height: 12px;
	text-align: center;
	text-shadow: 0 0 1px #62A1D7;
}
input.radio:not(old):checked + label > span > span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 1px;
	border: 1px solid #46719F;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	background-color: #62A1D7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#62A1D7), to(#4691D2));
	background-image: -webkit-linear-gradient(top, #62A1D7, #4691D2);
	background-image: -moz-linear-gradient(top, #62A1D7, #4691D2);
	background-image: -ms-linear-gradient(top, #62A1D7, #4691D2);
	background-image: -o-linear-gradient(top, #62A1D7, #4691D2);
	background-image: linear-gradient(to bottom, #62A1D7, #4691D2);
}
label {
  cursor: pointer;
}
textarea.log {
	width: 99%;
	height: 360px;
	padding: 5px 0px 5px 5px;
	border: 1px solid #CCC;
	background: #FFF;
	font-size: 14px;
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
select {
	padding: 2px;
	border-top: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	border-bottom: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -moz-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -ms-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -o-linear-gradient(top, #F2F5F7, #FFF);
	background-image: linear-gradient(to bottom, #F2F5F7, #FFF);
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
}
a, a:visited {
	color: #547C96;
	text-decoration: none;
	cursor: pointer;
}
a img {
	border: 0;
}
form {
	margin: 0;
	padding: 0;
}
samp, small {
	font-size: 10px;
}
/* Container */
#container {
	height: 100%;
}
body > #container {
	height: auto;
	min-height: 100%;
}
/* Header */
#header {
	min-width: 800px;
}
#header .static {
	height: 56px;
	background: url('../image/theme/header.png') repeat-x;
	color: #FFF;
}
#header .image {
	position: relative;
	top: 8px;
	padding-left: 20px;
	border: none;
	outline: 0;
	float: left;
	cursor: pointer;
}
#header .user-status {
	position: relative;
	top: 15px;
	float: right;
}
#header .user-status a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: right;
	color: #FFF;
}
#header .user-status img {
	position: relative;
	top: 3px;
}
#header .user-logout {
	position: relative;
	top: 12px;
	float: right;
	padding-left: 20px;
	cursor: pointer;
	outline: 0;
	z-index: 7;
}
/* Header Device */
#user-device {
	position: relative;
	top: 12px;
	float: right;
	color: #FFF;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	padding: 0px 30px 0px 10px;
	cursor: pointer;
	outline: 0;
	z-index: 7;
}
#show-device {
	position: absolute;
	top: 34;
	right: 20px;
	background: #FFF;
	text-align: center;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	min-width: 150px;
	z-index: 9;
}
#show-device .device {
	display: inline-block;
	color: #777;
	font-size: 12px;
	text-decoration: none;
	white-space: nowrap;
	padding: 0px 6px;
}
/* Header Date & Time */
#date-time {
	position: relative;
	top: 12px;
	float: right;
	color: #FFF;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
	outline: 0;
	z-index: 7;
}
#show-time {
	position: absolute;
	top: 34;
	right: 0px;
	background: #FFF;
	text-align: center;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	min-width: 150px;
	z-index: 9;
}
#show-time .sysdate, .systime {
	display: inline-block;
	color: #777;
	font-size: 12px;
	text-decoration: none;
	white-space: nowrap;
	padding: 0px 6px;
}
#show-time .systime span {
	margin: 0px;
	padding: 0px;
}
/* Header Store */
#store-selector {
	position: relative;
	top: 12px;
	float: right;
	color: #FFF;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	padding: 0px 10px 0px 20px;
	cursor: pointer;
	outline: 0;
	z-index: 7;
}
#show-store {
	position: absolute;
	top: 34;
	right: 0px;
	background: #FFF;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	min-width: 150px;
	height: 60px;
	overflow: auto;
	z-index: 9;
}
#show-store a {
	display: block;
	color: #777;
	font-size: 12px;
	text-decoration: none;
	white-space: nowrap;
	padding: 0px 6px;
	cursor: pointer;
}
#show-store a:hover {
	background: #E4EEF7;
	color: #547C96;
}
/* Menu */
.menu {
	position: relative;
	float: none;
	width: 100%;
	height: 34px;
	background: url('../image/theme/menu.png') repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 4;
}
.menu li {
	float: left;
	position: relative;
	height: 34px;
	padding: 0;
}
.menu li:hover, .menu li.onhover { }
.menu li a.top {
	background: url('../image/theme/split.png') center left no-repeat;
}
ul.menu a {
	display: block;
	color: #FFF;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	line-height: 34px;
	padding: 0 25px;
	outline: 0;
}
.menu a:hover { }
.menu a.arrow {
	background: url('../image/theme/arrow-right.png') no-repeat right center;
}
.menu ul a.arrow {
	background: url('../image/theme/arrow-right.png') no-repeat 97% center;
}
/* Menu - Top-level item to the right */
.menu .right {
	float: right;
	margin-right: 0px;
}
/* Menu - Sub level */
ul.menu ul {
	width: 180px;
	position: absolute;
	left: -9999px;
	background: url('../image/theme/transparent.png');
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 1px;
}
.menu li li {
	float: none;
	white-space: nowrap;
	margin: 0;
	border: 1px solid transparent;
	height: 28px;
}
.menu li li:hover, .menu li li.onhover {
	margin: 0;
	border: 1px solid #BD4C14;
	background: #391706;
}
.menu ul a {
	padding: 0px 15px 0px 10px;
	line-height: 26px;
	font-size: 13px;
	font-weight: normal;
	color: #FFF;
	text-align: left;
}
.menu ul a:hover { }
.menu li:hover ul, .menu li.onhover ul {
	left: -1px;
	top: auto;
}
.menu li:hover .droptoleft, .menu li.onhover .droptoleft {
	left: auto;
	right: -1px;
	top: auto;
}
.menu ul ul { }
.menu li:hover ul ul, .menu li:hover ul ul ul, .menu li:hover ul ul ul ul,
.menu li.onhover ul ul, .menu li.onhover ul ul ul, .menu li.onhover ul ul ul ul {
	left: -9999px;
	top: 0;
}
.menu li li:hover ul, .menu li li li:hover ul, .menu li li li li:hover ul,
.menu li li.onhover ul, .menu li li li.onhover ul, .menu li li li li.onhover ul {
	left: 179px;
	top: -2px;
}
/* Content */
#content {
	background: #FFF url('../image/theme/background.png') 0px 1px repeat-x;
	padding: 10px 30px 128px 30px;
	min-width: 740px;
}
/* Breadcrumbs */
.breadcrumb {
	display: inline-block;
	width: 100%;
	padding: 0px 3px;
	margin: 0px 0px 10px 0px;
	z-index: 25;
}
.breadcrumb a {
	color: #555;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
}
.breadcrumb a:hover {
	color: #0D6D98;
}
/* Notifications */
.success {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	color: #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	color: #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.attention {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	color: #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.tooltip {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FAFAFA url('../image/tooltip.png') 10px center no-repeat;
	border: 1px solid #D7E6F4;
	color: #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
/* Common */
.close {
	float: right;
	margin-top: 4px;
	cursor: pointer;
}
.required {
	color: #CC2626;
	font-weight: bold;
}
.error {
	color: #CC2626;
	font-size: 12px;
	font-weight: normal;
	margin-top: 3px;
	display: block;
}
.help {
	color: #555;
	font-size: 11px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}
.icon {
	vertical-align: middle;
	cursor: pointer;
}
/* Image */
.image {
	display: inline-block;
	border: 1px solid #EEE;
	padding: 10px;
}
.image img {
	margin-bottom: 5px;
}
/* Box */
.box {
	margin-bottom: 15px;
}
.box > .heading {
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEE));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -moz-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -ms-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -o-linear-gradient(top, #FCFCFC, #EEE);
	background-image: linear-gradient(to bottom, #FCFCFC, #EEE);
}
.box > .heading h1 {
	margin: 0px;
	padding: 9px 0px 0px 0px;
	color: #405060;
	font-size: 16px;
	float: left;
}
.box > .heading h1 img {
	margin-top: -1px;
	margin-left: 3px;
	margin-right: 8px;
	float: left;
}
.box > .heading .buttons {
	padding-top: 7px;
	float: right;
}
.box > .heading .event {
	padding-top: 10px;
	margin-right: 10px;
	float: right;
}
.box > .heading .event a {
	margin-left: 10px;
}
.box > .content {
	min-height: 300px;
	padding-top: 10px;
	overflow: auto;
}
.box > .content h2 {
	color: #FF802B;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px dotted #222;
	padding-bottom: 3px;
}
.box > .content h3 {
	color: #5A5A5A;
	font-size: 16px;
	font-weight: bold;
	line-height: 25px;
	border-bottom: 1px dotted #444;
	padding: 0px 0px 5px 1px;
}
/* Box Report */
.box > .content .report {
	height: 40px;
	color: #111;
	line-height: 40px;
	background-color: #FAFAFA;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FAFAFA));
	background-image: -webkit-linear-gradient(top, #EEE, #FAFAFA);
	background-image: -moz-linear-gradient(top, #EEE, #FAFAFA);
	background-image: -ms-linear-gradient(top, #EEE, #FAFAFA);
	background-image: -o-linear-gradient(top, #EEE, #FAFAFA);
	background-image: linear-gradient(to bottom, #EEE, #FAFAFA);
	border-bottom: 1px solid #E6E6E6;
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
	border-top: 1px solid #DDD;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.box > .content .report .right {
	float: right;
	margin: 0px 10px 0px 25px;
	text-align: right;
}
.box > .content .report .center {
	float: left;
	margin: 0px 25px 0px 10px;
	text-align: center;
}
.box > .content .report .left {
	float: left;
	margin: 0px 25px 0px 10px;
	text-align: left;
}
.box > .content .report .left img {
	position: relative;
	top: -1px;
	left: 4px;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
/* Box Login */
.box-login {
	width: 360px;
	min-height: 300px;
	margin: 50px auto;
	padding: 0px;
}
.box-login > .content-login {
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#E8E8E8));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #E8E8E8);
	background-image: -moz-linear-gradient(top, #FCFCFC, #E8E8E8);
	background-image: -ms-linear-gradient(top, #FCFCFC, #E8E8E8);
	background-image: -o-linear-gradient(top, #FCFCFC, #E8E8E8);
	background-image: linear-gradient(to bottom, #FCFCFC, #E8E8E8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	-moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	overflow: hidden;
}
.box-login > .content-login h1 {
	margin: 0px 0px 10px 0px;
	padding: 10px 8px;
	color: #405060;
	font-size: 16px;
	float: left;
}
.box-login > .content-login h1 img {
	margin-top: -1px;
	margin-left: 3px;
	margin-right: 8px;
	float: left;
}
.box-login > .content-login > form {
	min-height: 170px;
	padding: 15px 10px;
}
/* Button */
a.button, .list a.button, a.button-save, .list a.button-save, a.button-delete, .list a.button-delete, a.button-repair, .list a.button-repair, a.button-cancel, .list a.button-cancel {
	display: inline-block;
	line-height: 12px;
	padding: 6px 15px;
	margin: 0px 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 2px #DDD;
	-moz-box-shadow: 0px 1px 2px #DDD;
	box-shadow: 0px 1px 2px #DDD;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}
/* Button Blue */
a.button, .list a.button {
	background: #4691D2;
}
a.button:hover, .list a.button:hover {
	background: #62A1D7;
}
/* Button Green */
a.button-save, .list a.button-save {
	background: #5DC15E;
}
a.button-save:hover, .list a.button-save:hover {
	background: #75CA75;
}
/* Button Red */
a.button-delete, .list a.button-delete {
	background: #DE5954;
}
a.button-delete:hover, .list a.button-delete:hover {
	background: #E3726E;
}
/* Button Yellow */
a.button-repair, .list a.button-repair {
	background: #F2B155;
}
a.button-repair:hover, .list a.button-repair:hover {
	background: #F4BD6D;
}
/* Button Grey */
a.button-cancel, .list a.button-cancel {
	background: #A0A0A0;
}
a.button-cancel:hover, .list a.button-cancel:hover {
	background: #B5B5B5;
}
/* Button Filter */
a.button-filter, .list a.button-filter {
	display: inline-block;
	line-height: 12px;
	padding: 6px 13px;
	margin: 0px 4px;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#DEDEDE));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #DEDEDE);
	background-image: -moz-linear-gradient(top, #FCFCFC, #DEDEDE);
	background-image: -ms-linear-gradient(top, #FCFCFC, #DEDEDE);
	background-image: -o-linear-gradient(top, #FCFCFC, #DEDEDE);
	background-image: linear-gradient(to bottom, #FCFCFC, #DEDEDE);
	text-decoration: none;
	font-weight: bold;
	color: #405060;
}
a.button-filter:hover, .list a.button-filter:hover {
	background-color: #F8F8F8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#D6D6D6));
	background-image: -webkit-linear-gradient(top, #F8F8F8, #D6D6D6);
	background-image: -moz-linear-gradient(top, #F8F8F8, #D6D6D6);
	background-image: -ms-linear-gradient(top, #F8F8F8, #D6D6D6);
	background-image: -o-linear-gradient(top, #F8F8F8, #D6D6D6);
	background-image: linear-gradient(to bottom, #F8F8F8, #D6D6D6);
	border: 1px solid #4691D2;
}
/* Button Form */
a.button-form, .list a.button-form, a.button-form-install, .list a.button-form-install, a.button-form-edit, .list a.button-form-edit, a.button-form-uninstall, .list a.button-form-uninstall {
	display: inline-block;
	line-height: 12px;
	padding: 6px 13px;
	margin: 0px 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 2px #DDD;
	-moz-box-shadow: 0px 1px 2px #DDD;
	box-shadow: 0px 1px 2px #DDD;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}
input.button-form, input.button-form-install, input.button-form-edit, input.button-form-uninstall {
	height: 22px;
	line-height: 12px;
	padding: 0px 13px 2px 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 2px #DDD;
	-moz-box-shadow: 0px 1px 2px #DDD;
	box-shadow: 0px 1px 2px #DDD;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}
/* Button Form Blue */
a.button-form, .list a.button-form, input.button-form, a.button-form-edit, .list a.button-form-edit, input.button-form-edit {
	background: #4691D2;
}
a.button-form:hover, .list a.button-form:hover, input.button-form:hover, a.button-form-edit:hover, .list a.button-form-edit:hover, input.button-form-edit:hover {
	background: #62A1D7;
}
/* Button Form Green */
a.button-form-install, .list a.button-form-install, input.button-form-install {
	background: #5DC15E;
}
a.button-form-install:hover, .list a.button-form-install:hover,  input.button-form-install:hover {
	background: #75CA75;
}
/* Button Form Red */
a.button-form-uninstall, .list a.button-form-uninstall, input.button-form-uninstall {
	background: #DE5954;
}
a.button-form-uninstall:hover, .list a.button-form-uninstall:hover, input.button-form-uninstall:hover {
	background: #E3726E;
}
/* Button Select/Unselect */
a.button-select, a.button-unselect, .list a.button-select, .list a.button-unselect {
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 1px 15px;
	margin: 0px;
}
a.button-select, .list a.button-select {
	background: #F8F8F8 url('../image/theme/select.png') center 0px no-repeat;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-khtml-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}
a.button-unselect, .list a.button-unselect {
	background: #F8F8F8 url('../image/theme/unselect.png') center 0px no-repeat;
	border: 1px solid #CCC;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-khtml-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}
a.button-select:hover, .list a.button-select:hover {
	background: #F8F8F8 url('../image/theme/select.png') center -16px no-repeat;
	border: 1px solid #4691D2;
}
a.button-unselect:hover, .list a.button-unselect:hover {
	background: #F8F8F8 url('../image/theme/unselect.png') center -16px no-repeat;
	border: 1px solid #4691D2;
}
/* Button Browse/Recycle */
a.button-browse, a.button-recycle, .list a.button-browse, .list a.button-recycle {
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 1px 15px;
	margin: 0px;
}
a.button-browse, .list a.button-browse {
	background: #F8F8F8 url('../image/theme/browse.png') center 0px no-repeat;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-khtml-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}
a.button-recycle, .list a.button-recycle {
	background: #F8F8F8 url('../image/theme/recycle.png') center 0px no-repeat;
	border: 1px solid #CCC;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-khtml-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}
a.button-browse:hover, .list a.button-browse:hover {
	background: #F8F8F8 url('../image/theme/browse.png') center -16px no-repeat;
	border: 1px solid #4691D2;
}
a.button-recycle:hover, .list a.button-recycle:hover {
	background: #F8F8F8 url('../image/theme/recycle.png') center -16px no-repeat;
	border: 1px solid #4691D2;
}
/* Button Move Left/Right */
input.button-move-left, input.button-move-right {
	display: inline-block;
	width: 16px;
	height: 20px;
	padding: 1px 15px 4px 15px;
	margin: 0px;
}
input.button-move-left {
	background: #F8F8F8 url('../image/theme/move-left.png') center 0px no-repeat;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-khtml-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}
input.button-move-right {
	background: #F8F8F8 url('../image/theme/move-right.png') center 0px no-repeat;
	border: 1px solid #CCC;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-khtml-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}
input.button-move-left:hover {
	background: #F8F8F8 url('../image/theme/move-left.png') center -16px no-repeat;
	border: 1px solid #4691D2;
}
input.button-move-right:hover {
	background: #F8F8F8 url('../image/theme/move-right.png') center -16px no-repeat;
	border: 1px solid #4691D2;
}
/* List */
.list {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	margin-bottom: 20px;
}
.list td {
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.list thead td {
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEE));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -moz-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -ms-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -o-linear-gradient(top, #FCFCFC, #EEE);
	background-image: linear-gradient(to bottom, #FCFCFC, #EEE);
	padding: 0px 5px;
}
.list thead td a, .list thead td {
	color: #222;
	font-weight: bold;
	text-decoration: none;
}
.list tbody td a {
	text-decoration: underline;
}
.list tbody td {
	vertical-align: middle;
	background: #FFF;
	padding: 0px 5px;
}
.list tbody tr:hover td {
	background-color: #FFFFCB;
}
.list tbody tr td span.form-icon {
	position: relative;
	top: 5px;
	left: 5px;
	line-height: 22px;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
.list tbody tr td span.color {
	display: block;
	float: right;
	height: 20px;
	width: 20px;
	border: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px #DDD;
	-moz-box-shadow: 0px 1px 2px #DDD;
	box-shadow: 0px 1px 2px #DDD;
	color: #777;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	margin-right: 10px;
}
.list tbody tr td span.enabled, .list tbody tr td span.passed {
	background: #5DC15E;
	padding: 2px 12px;
	color: #FFF;
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.list tbody tr td span.disabled {
	background: #A0A0A0;
	padding: 2px 12px;
	color: #FFF;
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.list tbody tr td span.missed {
	background: #DE5954;
	padding: 2px 12px;
	color: #FFF;
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}
.list .asc {
	background: url('../image/asc.png') right center no-repeat;
	padding-right: 15px;
}
.list .desc {
	background: url('../image/desc.png') right center no-repeat;
	padding-right: 15px;
}
.list tr.filter td, .list tr:hover.filter td {
	padding: 5px;
	background-color: #EEE;
}
.list tr td.picked {
	background: url('../image/success.png') center no-repeat;
	margin: 0px auto;
	width: 22px;
}
.list tr td.delayed {
	background: url('../image/attention.png') center no-repeat;
	margin: 0px auto;
	width: 22px;
}
.list tr td.staged {
	background: url('../image/warning.png') center no-repeat;
	margin: 0px auto;
	width: 22px;
}
/* Table Form */
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form > tbody > tr > td:first-child {
	width: 240px;
}
table.form > tbody > tr > td {
	color: #111;
	padding: 10px;
	border-bottom: 1px dotted #CCC;
}
table.form > tbody > tr > td span.form-icon {
	position: relative;
	top: 5px;
	left: 5px;
	line-height: 22px;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
/* Table Image */
table.form tr td div.image, .list tbody tr td div.image {
	text-align: center;
}
/* Table Tool */
table.tool {
	width: 100%;
	cellpadding: 5px;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.tool > tr {
	text-align: left;
	padding: 10px;
}
table.tool > tr > td {
	color: #111;
}
/* Htabs */
.htabs {
	height: 28px;
	line-height: 14px;
	border-bottom: 1px solid #DDD;
	margin-bottom: 30px;
}
.htabs a {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #111;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid transparent;
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF));
	background-image: -webkit-linear-gradient(top, #EEE, #FFF);
	background-image: -moz-linear-gradient(top, #EEE, #FFF);
	background-image: -ms-linear-gradient(top, #EEE, #FFF);
	background-image: -o-linear-gradient(top, #EEE, #FFF);
	background-image: linear-gradient(to bottom, #EEE, #FFF);
	padding: 7px 15px 6px 15px;
	margin-right: 2px;
	margin-bottom: 0;
	display: none;
}
.htabs a.selected {
	background: #FFF;
	border-bottom: 1px solid #FFF;
	outline: 0;
}
/* Vtabs */
.vtabs {
	float: left;
	display: block;
	width: 190px;
	padding: 10px 0px;
	min-height: 300px;
	border-right: 1px solid #DDD;
	clear: left;
}
.vtabs a {
	display: none;
}
.vtabs a, .vtabs span {
	float: left;
	display: block;
	width: 160px;
	font-family: Arial, Helvetica, sans-serif;
	color: #111;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF));
	background-image: -webkit-linear-gradient(top, #EEE, #FFF);
	background-image: -moz-linear-gradient(top, #EEE, #FFF);
	background-image: -ms-linear-gradient(top, #EEE, #FFF);
	background-image: -o-linear-gradient(top, #EEE, #FFF);
	background-image: linear-gradient(to bottom, #EEE, #FFF);
	padding: 6px 14px 7px 15px;
	margin-bottom: 5px;
	clear: both;
}
.vtabs a.selected {
	background: #FFF;
	padding-right: 15px;
	outline: 0;
}
.vtabs a img, .vtabs span img {
	position: relative;
	top: 3px;
	cursor: pointer;
}
.vtabs-content {
	margin-left: 195px;
}
/* Scrollbox */
.scrollbox {
	width: 350px;
	height: 100px;
	background: #FFF;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	overflow-y: scroll;
}
.scrollbox img {
	float: right;
	cursor: pointer;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px 3px 0px 0px;
	padding: 0px;
}
.scrollbox div.even {
	background: #FFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}
/* Progress Bar */
.progress-bar-blue {
	border: 1px solid #46719F;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	background-color: #62A1D7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#62A1D7), to(#4691D2));
	background-image: -webkit-linear-gradient(top, #62A1D7, #4691D2);
	background-image: -moz-linear-gradient(top, #62A1D7, #4691D2);
	background-image: -ms-linear-gradient(top, #62A1D7, #4691D2);
	background-image: -o-linear-gradient(top, #62A1D7, #4691D2);
	background-image: linear-gradient(to bottom, #62A1D7, #4691D2);
	height: 14px;
}
.progress-bar-red {
	border: 1px solid #CE5954;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	background-color: #E3726E;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E3726E), to(#DE5954));
	background-image: -webkit-linear-gradient(top, #E3726E, #DE5954);
	background-image: -moz-linear-gradient(top, #E3726E, #DE5954);
	background-image: -ms-linear-gradient(top, #E3726E, #DE5954);
	background-image: -o-linear-gradient(top, #E3726E, #DE5954);
	background-image: linear-gradient(to bottom, #E3726E, #DE5954);
	height: 14px;
}
/* Pagination */
.pagination {
	display: inline-block;
	width: 100%;
	padding-top: 6px;
	margin-bottom: 3px;
	border-top: 1px solid #DDD;
}
.pagination .links {
	float: left;
	padding-top: 6px;
	line-height: 18px;
}
.pagination .links a {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEE));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -moz-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -ms-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -o-linear-gradient(top, #FCFCFC, #EEE);
	background-image: linear-gradient(to bottom, #FCFCFC, #EEE);
	padding: 4px 10px;
}
.pagination .links b {
	color: #4691D2;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #4691D2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEE));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -moz-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -ms-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -o-linear-gradient(top, #FCFCFC, #EEE);
	background-image: linear-gradient(to bottom, #FCFCFC, #EEE);
	padding: 4px 10px;
}
.pagination .results {
	float: right;
	font-size: 12px;
	padding-top: 6px;
}
/* Dashboard */
.dashboard-heading, .dashboard-heading-left, .dashboard-heading-middle, .dashboard-heading-right {
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	background-color: #5A5A5A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5A5A5A), to(#444));
	background-image: -webkit-linear-gradient(top, #5A5A5A, #444);
	background-image: -moz-linear-gradient(top, #5A5A5A, #444);
	background-image: -ms-linear-gradient(top, #5A5A5A, #444);
	background-image: -o-linear-gradient(top, #5A5A5A, #444);
	background-image: linear-gradient(to bottom, #5A5A5A, #444);
	border-bottom: 1px solid #444;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	padding: 6px 0px 6px 10px;
}
.dashboard-content {
	background: #FEFEFE;
	background: rgba(254, 254, 254, 1);
	-moz-box-shadow: 0px 1px 0px rgba(254,254,254,1), inset 0px 4px 4px -3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 0px rgba(254,254,254,1), inset 0px 4px 4px -3px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 0px rgba(254,254,254,1), inset 0px 4px 4px -3px rgba(0,0,0,0.2);
	min-height: 240px;
	border: 1px solid #AAA;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	margin-bottom: 10px;
	padding: 10px;
}
/* Top Five */
.tops {
	width: 100%;
	border: none;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0;
}
.tops .tiers {
	position: relative;
	float: left;
	width: 33.33%;
	border: 0;
}
.tops .tiers .dashboard-content-left, .tops .tiers .dashboard-content-middle, .tops .tiers .dashboard-content-right {
	background: #FEFEFE;
	background: rgba(254, 254, 254, 1);
	-moz-box-shadow: 0px 1px 0px rgba(254,254,254,1), inset 0px 4px 4px -3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 0px rgba(254,254,254,1), inset 0px 4px 4px -3px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 0px rgba(254,254,254,1), inset 0px 4px 4px -3px rgba(0,0,0,0.2);
	min-height: 200px;
	border: 1px solid #AAA;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	padding: 10px;
}
.tops .tiers .dashboard-content-left, .tops .tiers .dashboard-heading-left {
	margin-right: 10px;
}
.tops .tiers .dashboard-content-middle, .tops .tiers .dashboard-heading-middle {
	margin-right: 10px;
	margin-left: 10px;
}
.tops .tiers .dashboard-content-right, .tops .tiers .dashboard-heading-right {
	margin-left: 10px;
}
/* Tiles */
.tiles {
	width: 100%;
	border: none;
	display: inline-block;
	margin-bottom: 5px;
	padding: 0;
}
.tiles .tile {
	position: relative;
	float: left;
	width: 25%;
	min-height: 70px;
	border: 0;
}
.tiles .tile .tile-red {
	background: #DE5954;
	-webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	-moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	margin-right: 10px;
}
.tiles .tile .tile-blue {
	background: #4691D2;
	-webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	-moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	margin-right: 10px;
	margin-left: 10px;
}
.tiles .tile .tile-yellow {
	background: #F2B155;
	-webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	-moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	margin-right: 10px;
	margin-left: 10px;
}
.tiles .tile .tile-green {
	background: #5DC15E;
	-webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	-moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	margin-left: 10px;
}
.tiles .tile .tile-red p, .tiles .tile .tile-blue p, .tiles .tile .tile-yellow p, .tiles .tile .tile-green p {
	padding: 10px 12px;
}
.tiles .tile .tile-red span, .tiles .tile .tile-blue span, .tiles .tile .tile-yellow span, .tiles .tile .tile-green span {
	position: relative;
	float: right;
	top: 10px;
	color: #FFF;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 0 1px 1px #444;
}
.tiles .tile .tile-red img, .tiles .tile .tile-blue img, .tiles .tile .tile-yellow img, .tiles .tile .tile-green img {
	text-align: left;
	padding: 0;
	margin: 0;
}
.tiles .tile .tile-red a, .tiles .tile .tile-blue a, .tiles .tile .tile-yellow a, .tiles .tile .tile-green a {
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 1px 1px #444;
}
/* Overview */
.overview {
	float: left;
	width: 38%;
}
.overview table {
	width: 100%;
}
.overview td + td {
	text-align: right;
}
/* Statistic */
.statistic {
	float: right;
	width: 60%;
}
/* Range */
.range {
	float: right;
	color: #FFF;
	vertical-align: middle;
	padding-top: 4px;
	padding-right: 4px;
}
.range, .range select {
	font-size: 11px;
}
/* Latest */
.latest {
	clear: both;
	margin-bottom: 15px;
}
.latest tbody td {
	background: #FFF;
}
/* Refresh */
.refresh {
	position: relative;
	top: 3px;
	cursor: pointer;
}
/* Footer */
#footer {
	position: relative;
	min-width: 800px;
	height: 90px;
	color: #333;
	font-size: 12px;
	text-align: center;
	background: #FFF url('../image/theme/footer.png') repeat-x;
	padding-top: 38px;
	margin-top: -128px;
	clear: both;
}
#footer a {
	color: #333;
	text-decoration: underline;
}
