/* ------------------------------
* VQmods v2.0.1
* Overclocked Edition Stylesheet
* Copyright © 2017 - Villagedefrance
* -------------------------------
*/
#error-log {
	width: 99%;
	height: 280px;
	padding: 5px;
	border: 1px solid #CCC;
	background: #FFF;
	margin-bottom: 10px;
	overflow-y: scroll;
}
#vqcache {
	min-width: 250px;
	margin-bottom: 10px;
}
/* Notification */
.notice {
	padding: 10px 10px 10px 40px;
	margin-bottom: 15px;
	background: #FFF url('../image/lockscreen.png') 10px center no-repeat;
	border: 1px solid #D7E6F4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #444;
}
/* About */
a.about {
	text-decoration: none;
}
a.about:hover {
	text-decoration: underline;
}
/* Button */
input[type='submit'] {
	display: inline-block;
	line-height: 12px;
	padding: 5px 15px;
	margin: 0px 4px;
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#DEDEDE));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #DEDEDE);
	background-image: -moz-linear-gradient(top, #FCFCFC, #DEDEDE);
	background-image: -ms-linear-gradient(top, #FCFCFC, #DEDEDE);
	background-image: -o-linear-gradient(top, #FCFCFC, #DEDEDE);
	background-image: linear-gradient(to bottom, #FCFCFC, #DEDEDE);
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	font-weight: bold;
	color: #333;
}
input[type='submit']:hover {
	border: 1px solid #0093D3;
	color: #0093D3;
}
/* Description */
.description {
	font-size: 12px;
	margin: 3px 0px;
}
.help {
	color: #555;
	font-size: 11px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
}
.error-install {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.highlight {
	color: #CC2626;
}
.right {
	text-align: right;
}
/* Table */
.vqm-list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	margin-bottom: 20px;
}
.vqm-list thead th {
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEE));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -moz-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -ms-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -o-linear-gradient(top, #FCFCFC, #EEE);
	background-image: linear-gradient(to bottom, #FCFCFC, #EEE);
	padding: 0px 5px;
	color: #222;
	font-weight: bold;
	text-decoration: none;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.vqm-list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
}
.vqm-list td {
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.vqm-list .left {
	text-align: left;
	padding: 7px;
}
.vqm-list .center {
	text-align: center;
	padding: 7px;
}
.row-odd td {
	background-color: #FCFCFC;
}
.row-even td {
	background-color: #FFF;
}
