/* Ajax Livesearch CSS */
#livesearch {
	position: relative;
	top: 31px;
	left: -51px;
	background-color: #FFF;
	border: 1px solid #DFDFDF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	list-style-type: none;
	z-index: 12;
	width: 256px;
	margin: 0px;
	padding: 5px;
}
#livesearch li {
	padding: 0px;
	overflow: hidden;
}
#livesearch a, #livesearch a:visited, #livesearch a:hover {
	color: #333;
	font-size: 12px;
	text-decoration: none;
	outline: none;
}
#livesearch a {
	display: block;
	padding: 5px;
	float: left;
    color: #333;
}
#livesearch a:hover, #livesearch .highlighted a {
	color: #FFF;
}
#livesearch li:hover, #livesearch .highlighted {
	background-color: #888;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#livesearch li img {
	float: left;
	margin-right: 12px;
	overflow: hidden;
}
#livesearch li img.loading {
	background: #F5F5F5;
}
