/* -----------------------------------
* Overclocked Edition - Menu Dark RTL
* Copyright © 2018 - Villagedefrance
* ------------------------------------
*/
#menu-holder, #menu-holder .menu-dark {
	background-color: transparent;
}
.menu-dark #menu {
	min-height: 40px;
	background-color: #4D4F50;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4D4F50), to(#323435));
	background-image: -webkit-linear-gradient(top, #4D4F50, #323435);
	background-image: -moz-linear-gradient(top, #4D4F50, #323435);
	background-image: -ms-linear-gradient(top, #4D4F50, #323435);
	background-image: -o-linear-gradient(top, #4D4F50, #323435);
	background-image: linear-gradient(to bottom, #4D4F50, #323435);
	margin: 0;
	padding: 0 5px 0 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.menu-dark #menu a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 15px;
}
.menu-dark #menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-dark #menu > ul > li {
	background: url('../image/menu/sep_dark.png') right top no-repeat;
	position: relative;
	float: right;
	padding: 0 0 0 2px;
	background-position: left top;
	z-index: 515;
}
.menu-dark #menu > ul > li:hover {
}
.menu-dark #menu > ul > li > a {
	display: block;
	position: relative;
	line-height: 40px;
	text-decoration: none;
	padding: 0 14px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	z-index: 516;
	color: #FFF;
	background-color: inherit;
	text-shadow: 0 -1px 0 #111;
	outline: none;
	cursor: pointer;
}
.menu-dark #menu > ul > li:hover > a, .menu-dark #menu > ul > li > a:hover {
	background-color: #58595A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#58595A), to(#393F41));
	background-image: -webkit-linear-gradient(top, #58595A, #393F41);
	background-image: -moz-linear-gradient(top, #58595A, #393F41);
	background-image: -ms-linear-gradient(top, #58595A, #393F41);
	background-image: -o-linear-gradient(top, #58595A, #393F41);
	background-image: linear-gradient(to bottom, #58595A, #393F41);
}
.menu-dark #menu > ul > li > a > span {
	background: url('../image/menu/arrow_down_dark.png') right center no-repeat;
	padding: 0 14px 0 0;
	background-position: right center;
}
.menu-dark #menu > ul > li > a .home-icon {
	background: url('../image/menu/home_icon_light.png') center center no-repeat;
	width: 16px;
	height: 40px;
	padding: 0;
	display: block;
}
.menu-dark #menu > ul > li > div {
	display: none;
	position: absolute;
	left: auto;
	right: 0;
	z-index: 520;
	padding: 0 0 10px 0;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-khtml-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
	background: #4F5152;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#58595A), to(#414344));
	background-image: -webkit-linear-gradient(top, #58595A, #414344);
	background-image: -moz-linear-gradient(top, #58595A, #414344);
	background-image: -ms-linear-gradient(top, #58595A, #414344);
	background-image: -o-linear-gradient(top, #58595A, #414344);
	background-image: linear-gradient(to bottom, #58595A, #414344);
	border: 1px solid #3B3D3E;
	border-top: 1px solid #212223;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.menu-dark #menu > ul > li:hover > div {
	display: block;
}
.menu-dark #menu > ul > li > div > ul {
	display: table-cell;
	padding: 7px 0 0 2px;
	border-top: 3px solid #45494B;
}
.menu-dark #menu > ul > li ul + ul {
	padding-left: 16px;
}
.menu-dark #menu > ul > li ul > li > a {
	background: url('../image/menu/sep_vertical_dark.png') bottom left repeat-x;
	display: block;
	text-align: right;
	min-width: 160px;
	padding: 7px 0 9px 0;
	margin: 0 14px;
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
	text-shadow: 0 -1px 0 #343A3C;
	white-space: nowrap;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}
.menu-dark #menu > ul > li ul > li > a > span {
	background: url('../image/menu/arrow_left_dark_rtl.png') 150% center no-repeat;
	display: inline-block;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.menu-dark #menu > ul > li ul > li > a.last-submenu-item {
	padding: 7px 0;
	background: none;
	text-decoration: none;
}
.menu-dark #menu > ul > li ul > li > a:hover {
	text-decoration: none;
}
.menu-dark #menu > ul > li ul > li > a:hover > span {
	background: url('../image/menu/arrow_left_dark_rtl.png') right center no-repeat;
	padding-left: 0;
	padding-right: 12px;
}
.menu-dark #menu > ul > li > div > ul > li > a {
	color: #FFF;
	text-decoration: none;
}
#menu-trigger, #menu-phone {
	display: none;
}
/* Desktops */
@media only screen and (min-width: 1161px) and (max-width: 1281px) {
	.menu-dark #menu {
		display: block;
	}
	.menu-dark #menu > ul > li > a {
		padding: 0 12px;
		font-size: 14px;
	}
	#menu-trigger, #menu-phone {
		display: none;
	}
}
/* Laptops */
@media only screen and (min-width: 981px) and (max-width: 1161px) {
	.menu-dark #menu {
		display: block;
	}
	.menu-dark #menu > ul > li > a {
		padding: 0 8px;
		font-size: 13px;
	}
	#menu-trigger, #menu-phone {
		display: none;
	}
}
/* Tablets */
@media only screen and (min-width: 641px) and (max-width: 981px) {
	.menu-dark #menu {
		display: none;
	}
	#menu-trigger {
		display: block;
		position: relative;
		background-color: #4D4F50;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#4D4F50), to(#323435));
		background-image: -webkit-linear-gradient(top, #4D4F50, #323435);
		background-image: -moz-linear-gradient(top, #4D4F50, #323435);
		background-image: -ms-linear-gradient(top, #4D4F50, #323435);
		background-image: -o-linear-gradient(top, #4D4F50, #323435);
		background-image: linear-gradient(to bottom, #4D4F50, #323435);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		height: 40px;
		width: auto;
	}
	#menu-phone {
		width: 600px;
		position: relative;
		top: 10px;
		background: rgba(255,255,255,1);
		box-shadow: none;
		display: none;
		z-index: 550;
	}
	.box-phone > ul {
		display: block;
		list-style: none;
		margin: 0 0 25px 0;
		padding: 0;
	}
	.box-phone > ul > li {
		padding: 10px 1px 10px 9px;
	}
	.box-phone > ul > li + li {
		border-top: 1px solid #CCC;
	}
	.box-phone > ul > li a {
		font-size: 15px;
		text-decoration: none;
		outline: none;
		color: #222;
	}
	.box-phone > ul > li a:hover {
		color: #36AAD8;
		font-weight: bold;
	}
	.box-phone > ul > li > ul {
		margin-top: 5px;
		list-style: none;
		display: none;
	}
	.box-phone > ul > li a.active {
		font-weight: bold;
	}
	.box-phone > ul > li a.active + ul {
		padding-left: 15px;
		display: block;
	}
	.box-phone > ul > li > ul > li {
		padding: 8px 1px;
		display: block;
	}
	.box-phone > ul > li > ul > li a {
		font-size: 14px;
		text-decoration: none;
		outline: none;
	}
	.box-phone > ul > li > ul > li a.active {
		font-weight: bold;
	}
	.box-phone > ul > li > ul > li a.active span.inactive {
		font-weight: normal;
	}
}
/* Phones */
@media only screen and (max-width: 641px) {
	.menu-dark #menu {
		display: none;
	}
	#menu-trigger {
		display: block;
		position: relative;
		background-color: #4D4F50;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#4D4F50), to(#323435));
		background-image: -webkit-linear-gradient(top, #4D4F50, #323435);
		background-image: -moz-linear-gradient(top, #4D4F50, #323435);
		background-image: -ms-linear-gradient(top, #4D4F50, #323435);
		background-image: -o-linear-gradient(top, #4D4F50, #323435);
		background-image: linear-gradient(to bottom, #4D4F50, #323435);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		height: 40px;
		width: auto;
	}
	#menu-phone {
		width: 300px;
		position: relative;
		top: 10px;
		background: rgba(255,255,255,1);
		box-shadow: none;
		display: none;
		z-index: 550;
	}
	.box-phone > ul {
		display: block;
		list-style: none;
		margin: 0 0 25px 0;
		padding: 0;
	}
	.box-phone > ul > li {
		padding: 10px 1px 10px 9px;
	}
	.box-phone > ul > li + li {
		border-top: 1px solid #CCC;
	}
	.box-phone > ul > li a {
		font-size: 15px;
		text-decoration: none;
		outline: none;
		color: #222;
	}
	.box-phone > ul > li a:hover {
		color: #36AAD8;
		font-weight: bold;
	}
	.box-phone > ul > li > ul {
		margin-top: 5px;
		list-style: none;
		display: none;
	}
	.box-phone > ul > li a.active {
		font-weight: bold;
	}
	.box-phone > ul > li a.active + ul {
		padding-left: 15px;
		display: block;
	}
	.box-phone > ul > li > ul > li {
		padding: 8px 1px;
		display: block;
	}
	.box-phone > ul > li > ul > li a {
		font-size: 14px;
		text-decoration: none;
		outline: none;
	}
	.box-phone > ul > li > ul > li a.active {
		font-weight: bold;
	}
	.box-phone > ul > li > ul > li a.active span.inactive {
		font-weight: normal;
	}
}
