/* -----------------------------------
* Overclocked Edition - Menu Light LTR
* Copyright © 2018 - Villagedefrance
* ------------------------------------
*/
#menu-holder, #menu-holder .menu-light {
	background-color: transparent;
}
.menu-light #menu {
	min-height: 40px;
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E7E7E7));
	background-image: -webkit-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: -moz-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: -ms-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: -o-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: linear-gradient(to bottom, #F6F6F6, #E7E7E7);
	margin: 0;
	padding: 0 0 0 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.menu-light #menu a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 15px;
}
.menu-light #menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-light #menu > ul > li {
	background: url('../image/menu/sep_light.png') right top no-repeat;
	position: relative;
	float: left;
	padding: 0 2px 0 0;
	z-index: 515;
}
.menu-light #menu > ul > li:hover {
}
.menu-light #menu > ul > li > a {
	display: block;
	position: relative;
	line-height: 40px;
	text-decoration: none;
	padding: 0 14px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	z-index: 516;
	color: #222;
	background-color: inherit;
	text-shadow: 0 1px 0 #FFF;
	outline: none;
	cursor: pointer;
}
.menu-light #menu > ul > li:hover > a, .menu-light #menu > ul > li > a:hover {
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EDEDED));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #EDEDED);
	background-image: -moz-linear-gradient(top, #FCFCFC, #EDEDED);
	background-image: -ms-linear-gradient(top, #FCFCFC, #EDEDED);
	background-image: -o-linear-gradient(top, #FCFCFC, #EDEDED);
	background-image: linear-gradient(to bottom, #FCFCFC, #EDEDED);
}
.menu-light #menu > ul > li > a > span {
	background: url('../image/menu/arrow_down_dark.png') right center no-repeat;
	padding: 0 0 0 14px;
}
.menu-light #menu > ul > li > a .home-icon {
	background: url('../image/menu/home_icon_dark.png') center center no-repeat;
	width: 16px;
	height: 40px;
	padding: 0;
	display: block;
}
.menu-light #menu > ul > li > div {
	display: none;
	position: absolute;
	left: -1px;
	z-index: 520;
	padding: 0 0 10px 0;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-khtml-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.08);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.08);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.08);
	background: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#EDEDED));
	background-image: -webkit-linear-gradient(top, #F6F6F6, #EDEDED);
	background-image: -moz-linear-gradient(top, #F6F6F6, #EDEDED);
	background-image: -ms-linear-gradient(top, #F6F6F6, #EDEDED);
	background-image: -o-linear-gradient(top, #F6F6F6, #EDEDED);
	background-image: linear-gradient(to bottom, #F6F6F6, #EDEDED);
	border: 1px solid #E8E8E8;
	border-top: 1px solid #D2D2D2;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.menu-light #menu > ul > li:hover > div {
	display: block;
}
.menu-light #menu > ul > li > div > ul {
	display: table-cell;
	padding: 7px 0 0 2px;
	border-top: 3px solid #E9E9E9;
}
.menu-light #menu > ul > li ul + ul {
	padding-left: 16px;
}
.menu-light #menu > ul > li ul > li > a {
	background: url('../image/menu/sep_vertical_light.png') bottom left repeat-x;
	display: block;
	min-width: 160px;
	padding: 7px 0 9px 0;
	margin: 0 14px;
	color: #222;
	font-size: 13px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
	white-space: nowrap;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	outline: none;
}
.menu-light #menu > ul > li ul > li > a > span {
	background: url('../image/menu/arrow_left_dark.png') -20px center no-repeat;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-light #menu > ul > li ul > li > a.last-submenu-item {
	padding: 7px 0;
	background: none;
	text-decoration: none;
}
.menu-light #menu > ul > li ul > li > a:hover {
	text-decoration: none;
}
.menu-light #menu > ul > li ul > li > a:hover > span {
	background: url('../image/menu/arrow_left_dark.png') left center no-repeat;
	padding-left: 12px;
}
.menu-light #menu > ul > li > div > ul > li > a {
	color: #444;
	text-decoration: none;
}
#menu-trigger, #menu-phone {
	display: none;
}
/* Desktops */
@media only screen and (min-width: 1161px) and (max-width: 1281px) {
	.menu-light #menu {
		display: block;
	}
	.menu-light #menu > ul > li > a {
		padding: 0 12px;
		font-size: 14px;
	}
	#menu-trigger, #menu-phone {
		display: none;
	}
}
/* Laptops */
@media only screen and (min-width: 981px) and (max-width: 1161px) {
	.menu-light #menu {
		display: block;
	}
	.menu-light #menu > ul > li > a {
		padding: 0 8px;
		font-size: 13px;
	}
	#menu-trigger, #menu-phone {
		display: none;
	}
}
/* Tablets */
@media only screen and (min-width: 641px) and (max-width: 981px) {
	.menu-light #menu {
		display: none;
	}
	#menu-trigger {
		display: block;
		position: relative;
		background-color: #F6F6F6;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E7E7E7));
		background-image: -webkit-linear-gradient(top, #F6F6F6, #E7E7E7);
		background-image: -moz-linear-gradient(top, #F6F6F6, #E7E7E7);
		background-image: -ms-linear-gradient(top, #F6F6F6, #E7E7E7);
		background-image: -o-linear-gradient(top, #F6F6F6, #E7E7E7);
		background-image: linear-gradient(to bottom, #F6F6F6, #E7E7E7);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		height: 40px;
		width: auto;
	}
	#menu-phone {
		width: 600px;
		position: relative;
		top: 10px;
		background: rgba(255,255,255,1);
		box-shadow: none;
		display: none;
		z-index: 550;
	}
	.box-phone > ul {
		display: block;
		list-style: none;
		margin: 0 0 25px 0;
		padding: 0;
	}
	.box-phone > ul > li {
		padding: 10px 1px 10px 9px;
	}
	.box-phone > ul > li + li {
		border-top: 1px solid #CCC;
	}
	.box-phone > ul > li a {
		font-size: 15px;
		text-decoration: none;
		outline: none;
		color: #222;
	}
	.box-phone > ul > li a:hover {
		color: #36AAD8;
		font-weight: bold;
	}
	.box-phone > ul > li > ul {
		margin-top: 5px;
		list-style: none;
		display: none;
	}
	.box-phone > ul > li a.active {
		font-weight: bold;
	}
	.box-phone > ul > li a.active + ul {
		padding-left: 15px;
		display: block;
	}
	.box-phone > ul > li > ul > li {
		padding: 8px 1px;
		display: block;
	}
	.box-phone > ul > li > ul > li a {
		font-size: 14px;
		text-decoration: none;
		outline: none;
	}
	.box-phone > ul > li > ul > li a.active {
		font-weight: bold;
	}
	.box-phone > ul > li > ul > li a.active span.inactive {
		font-weight: normal;
	}
}
/* Phones */
@media only screen and (max-width: 641px) {
	.menu-light #menu {
		display: none;
	}
	#menu-trigger {
		display: block;
		position: relative;
		background-color: #F6F6F6;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E7E7E7));
		background-image: -webkit-linear-gradient(top, #F6F6F6, #E7E7E7);
		background-image: -moz-linear-gradient(top, #F6F6F6, #E7E7E7);
		background-image: -ms-linear-gradient(top, #F6F6F6, #E7E7E7);
		background-image: -o-linear-gradient(top, #F6F6F6, #E7E7E7);
		background-image: linear-gradient(to bottom, #F6F6F6, #E7E7E7);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		height: 40px;
		width: auto;
	}
	#menu-phone {
		width: 300px;
		position: relative;
		top: 10px;
		background: rgba(255,255,255,1);
		box-shadow: none;
		display: none;
		z-index: 550;
	}
	.box-phone > ul {
		display: block;
		list-style: none;
		margin: 0 0 25px 0;
		padding: 0;
	}
	.box-phone > ul > li {
		padding: 10px 1px 10px 9px;
	}
	.box-phone > ul > li + li {
		border-top: 1px solid #CCC;
	}
	.box-phone > ul > li a {
		font-size: 15px;
		text-decoration: none;
		outline: none;
		color: #222;
	}
	.box-phone > ul > li a:hover {
		color: #36AAD8;
		font-weight: bold;
	}
	.box-phone > ul > li > ul {
		margin-top: 5px;
		list-style: none;
		display: none;
	}
	.box-phone > ul > li a.active {
		font-weight: bold;
	}
	.box-phone > ul > li a.active + ul {
		padding-left: 15px;
		display: block;
	}
	.box-phone > ul > li > ul > li {
		padding: 8px 1px;
		display: block;
	}
	.box-phone > ul > li > ul > li a {
		font-size: 14px;
		text-decoration: none;
		outline: none;
	}
	.box-phone > ul > li > ul > li a.active {
		font-weight: bold;
	}
	.box-phone > ul > li > ul > li a.active span.inactive {
		font-weight: normal;
	}
}
