/* -----------------------------------
* Overclocked Edition - Menu (Dark)
* Copyright © 2016 - Villagedefrance
* ------------------------------------
*/
#menu-holder, #menu-holder .menu-ltr {
	background: inherit;
}
.menu-ltr #menu { }
.menu-ltr #menu a { }
.menu-ltr #menu ul { }
.menu-ltr #menu > ul > li {
	background: url('../image/menu/sep_dark.png') right top no-repeat;
}
.menu-ltr #menu > ul > li:hover { }
.menu-ltr #menu > ul > li > a {
	color: #222;
}
.menu-ltr #menu > ul > li:hover > a, .menu-ltr #menu > ul > li > a:hover { }
.menu-ltr #menu > ul > li > a > span {
	background: url('../image/menu/arrow_down_dark.png') right center no-repeat;
}
.menu-ltr #menu > ul > li > a .home-icon {
	background: url('../image/menu/home_icon_dark.png') center center no-repeat;
}
.menu-ltr #menu > ul > li > div {
	border-top: 1px solid #45494B;
}
.menu-ltr #menu > ul > li:hover > div { }
.menu-ltr #menu > ul > li > div > ul { }
.menu-ltr #menu > ul > li ul + ul { }
.menu-ltr #menu > ul > li ul > li > a {
	background: url('../image/menu/sep_vertical_dark.png') bottom left repeat-x;
	color: #222;
}
.menu-ltr #menu > ul > li ul > li > a > span {
	background: url('../image/menu/arrow_left_dark.png') -20px center no-repeat;
}
.menu-ltr #menu > ul > li ul > li > a.last-submenu-item { }
.menu-ltr #menu > ul > li ul > li > a:hover { }
.menu-ltr #menu > ul > li ul > li > a:hover > span {
	background: url('../image/menu/arrow_left_dark.png') left center no-repeat;
}
.menu-ltr #menu > ul > li > div > ul > li > a {
	color: #222;
}
