html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	color: #111;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	color: #636E75;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 6px;
	font-size: 32px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #333;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 6px;
}
h3 {
	color: #555;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #38B0E3;
	text-decoration: underline;
	outline: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	outline: none;
}
a img {
	border: none;
	outline: none;
}
a:hover, a img:hover {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	padding: 3px 0px 3px 4px;
	min-height: 17px;
	margin-left: 0px;
	margin-right: 0px;
	border-top: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	border-bottom: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -moz-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -ms-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -o-linear-gradient(top, #F2F5F7, #FFF);
	background-image: linear-gradient(to bottom, #F2F5F7, #FFF);
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
}
select {
	padding: 3px;
	border-top: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	border-bottom: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -moz-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -ms-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -o-linear-gradient(top, #F2F5F7, #FFF);
	background-image: linear-gradient(to bottom, #F2F5F7, #FFF);
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
}
input.large-field, select.large-field {
	width: 300px;
}
label {
	cursor: pointer;
}
samp, small {
	font-size: 10px;
}
span.from {
	font-size: 13px;
}
/* Layout */
#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left {
	float: left;
	width: 190px;
}
#column-right {
	float: right;
	width: 190px;
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
	background-color: transparent;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 210px;
}
#column-right + #content {
	margin-right: 210px;
}
/* Header */
#header {
	height: 120px;
	margin-bottom: 8px;
	position: relative;
}
#header #logo {
	position: absolute;
	top: 25px;
	left: 25px;
}
#header-bottom {
	position: absolute;
	top: 80px;
	right: 0px;
	z-index: 540;
}
#header-bottom form {
	float: right;
}
/* Header Language */
#language {
	float: right;
	color: #999;
	font-size: 11px;
	line-height: 17px;
	margin-right: 23px;
}
#language-selector {
	margin-top: 8px;
	cursor: pointer;
	z-index: 575;
}
.language-selected {
	color: #777;
	text-decoration: none;
	background: url('../image/arrow-dropdown.png') 100% 50% no-repeat;
	padding: 0px 17px 0px 10px;
}
#language-option {
	background: #FFF;
	border: 1px solid #DDD;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	margin-top: 3px;
	padding-top: 2px;
	z-index: 585;
}
#language-option a {
	display: block;
	color: #777;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	padding: 4px 10px;
	cursor: pointer;
}
#language-option a:hover {
	background: #FCFCFC;
	color: #38B0E3;
}
/* Header Currency */
#currency {
	float: right;
	font-size: 11px;
	line-height: 17px;
	margin-right: 13px;
}
#currency-selector {
	margin-top: 8px;
	cursor: pointer;
	z-index: 575;
}
.currency-selected {
	color: #777;
	text-decoration: none;
	background: url('../image/arrow-dropdown.png') 100% 50% no-repeat;
	padding: 0px 17px 0px 10px;
}
#currency-option {
	background: #FFF;
	border: 1px solid #DDD;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	margin-top: 3px;
	padding-top: 2px;
	z-index: 585;
}
#currency-option a {
	display: block;
	color: #777;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	padding: 4px 10px;
	cursor: pointer;
}
#currency-option a:hover {
	background: #FCFCFC;
	color: #38B0E3;
}
/* Header cart */
#header #cart {
	position: absolute;
	top: 0px;
	right: -11px;
	z-index: 550;
	min-width: 300px;
}
#header #cart .heading {
	float: right;
	margin-left: 172px;
	margin-top: 15px;
	padding-left: 14px;
	padding-right: 14px;
	border: 1px solid transparent;
	border-bottom: none;
	position: relative;
	z-index: 1;
}
#header #cart .heading h4 {
	color: #333;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 3px;
	display: none;
}
#header #cart .heading a {
	color: #70A706;
	text-decoration: none;
	white-space: nowrap;
}
#header #cart .heading a span {
	display: block;
	height: 27px;
	color: #555;
	font-size: 13px;
	line-height: 27px;
	background: url('../image/cart_icon.png') 100% 50% no-repeat;
	padding-right: 35px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: 0px;
	right: 10px;
	background: #FFF;
	border: 1px solid #DDD;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 8px;
}
.cart-arrow {
	position: absolute;
	top: -7px;
	right: 23px;
	width: 11px;
	height: 7px;
	background: url('../image/cart_arrow.png') left top no-repeat;
}
#header #cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
}
#header #cart.active .content {
	display: block;
}
/* Mini Cart */
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #333;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: none;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #444;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
	margin: 8px 0 6px;
	color: #AAA;
}
#header #cart .empty {
	padding: 30px 0;
	text-align: center;
}
/* Header Search */
#header #search {
	float: right;
	width: 216px;
	height: 31px;
	background: #FFF;
	border: 1px solid #DFDFDF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	z-index: 15;
}
#header #search .search-inside {
	position: relative;	
}
#header .button-search {
	position: absolute;
	top: 0px;
	right: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 33px;
	height: 31px;
	cursor: pointer;
}
#header #search .search-inside input {
	position: absolute;
	top: 0px;
	left: 0px;
	background: none;
	padding: 8px 0 8px 8px;
	width: 208px;
	height: 15px;
	color: #999;
	border: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	box-shadow: none;
}
#header #search .search-inside input:focus {
	outline: none;
}
/* Header Welcome */
#header #welcome {
	position: absolute;
	top: 53px;
	right: 1px;
	color: #888;
	font-size: 11px;
	text-align: right;
	width: 298px;
	z-index: 6;
}
#header #welcome a {
	font-size: 11px;
	color: #555;
}
#header #welcome a:hover {
	color: #38B0E3;
}
/* Menu */
#menu-phone {
	display: none;
}
/* Breadcrumbs */
.breadcrumb {
	padding: 0px 3px;
	margin-bottom: 10px;
}
.breadcrumb a {
	color: #38B0E3;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
}
.breadcrumb a:hover {
	color: #0D6D98;
}
/* Notifications */
.success, .warning, .attention, .tooltip {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.tooltip {
	background: #FAFAFA url('../image/tooltip.png') 10px center no-repeat;
	border: 1px solid #D7E6F4;
}
.close, .success .close, .warning .close, .attention .close, .tooltip .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
/* Common */
.required {
	color: #CC2626;
	font-weight: bold;
}
.error {
	display: block;
	color: #CC2626;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}
.hidden {
	display: none;
}
/* Table */
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 160px;
}
table.form > * > * > td {
	color: #111;
}
table.form td {
	padding: 4px;
}
table.form td input span.check img, table.form td input span.match {
	display: inline-block;
	padding-top: 6px;
}
table.form td span.hidden {
	display: none;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #EAFBFF;
	cursor: pointer;
}
/* Pagination */
.pagination {
	width: 100%;
	display: inline-block;
	border-top: 1px solid #E7E7E7;
	padding-top: 8px;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	color: #A3A3A3;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFF;
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E7E7E7));
	background-image: -webkit-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: -moz-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: -ms-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: -o-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: linear-gradient(to bottom, #F6F6F6, #E7E7E7);
	border: 1px solid #E7E7E7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 10px;
}
.pagination .links a:hover {
	border: 1px solid #AAA;
	color: #777;
}
.pagination .links b {
	display: inline-block;
	color: #269BC6;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFF;
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E7E7E7));
	background-image: -webkit-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: -moz-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: -ms-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: -o-linear-gradient(top, #F6F6F6, #E7E7E7);
	background-image: linear-gradient(to bottom, #F6F6F6, #E7E7E7);
	border: 1px solid #269BC6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 10px;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* Button */
a.button, input.button, input.button-cart, input.button-wrap-add, input.button-wrap-remove {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #19A6E4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#28B0EC), to(#079BDC));
	background-image: -webkit-linear-gradient(top, #28B0EC, #079BDC);
	background-image: -moz-linear-gradient(top, #28B0EC, #079BDC);
	background-image: -ms-linear-gradient(top, #28B0EC, #079BDC);
	background-image: -o-linear-gradient(top, #28B0EC, #079BDC);
	background-image: linear-gradient(to bottom, #28B0EC, #079BDC);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
}
input.button {
	border: 0;
	height: 24px;
	padding: 0px 12px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
}
input.button-cart {
	position: relative;
	top: 0px;
	height: 28px;
	padding: 0px 14px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	border: 0;
}
input.button-wrap-add, input.button-wrap-remove, input.button-wrap-add:hover, input.button-wrap-remove:hover {
	border: 0;
	height: 24px;
	padding: 0px 12px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
}
input.button-wrap-add, input.button-wrap-add:hover {
	background-image: url('../image/wrap-add.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 28px;
}
input.button-wrap-remove, input.button-wrap-remove:hover {
	background-image: url('../image/wrap-remove.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 28px;
}
input.button-wrap-add:hover, input.button-wrap-remove:hover {
	background-color: #0D6D98;
}
a.button:hover, input.button:hover, input.button-cart:hover {
	background-color: #0D6D98;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0D6D98), to(#045C84));
	background-image: -webkit-linear-gradient(top, #0D6D98, #045C84);
	background-image: -moz-linear-gradient(top, #0D6D98, #045C84);
	background-image: -ms-linear-gradient(top, #0D6D98, #045C84);
	background-image: -o-linear-gradient(top, #0D6D98, #045C84);
	background-image: linear-gradient(to bottom, #0D6D98, #045C84);
}
/* Button Buy it Now */
input.button-buy-now {
	color: #FFF;
	top: 0px;
	height: 30px;
	padding: 0px 15px;
	margin-left: 10px;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F9CB37;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9CB37), to(#F08625));
	background-image: -webkit-linear-gradient(top, #F9CB37, #F08625);
	background-image: -moz-linear-gradient(top, #F9CB37, #F08625);
	background-image: -ms-linear-gradient(top, #F9CB37, #F08625);
	background-image: -o-linear-gradient(top, #F9CB37, #F08625);
	background-image: linear-gradient(to bottom, #F9CB37, #F08625);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 2px #DDD;
	-moz-box-shadow: 0px 2px 2px #DDD;
	box-shadow: 0px 2px 2px #DDD;
	outline: none;
	cursor: pointer;
}
input.button-buy-now:hover {
	background-color: #F08625;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F08625), to(#E5661D));
	background-image: -webkit-linear-gradient(top, #F08625, #E5661D);
	background-image: -moz-linear-gradient(top, #F08625, #E5661D);
	background-image: -ms-linear-gradient(top, #F08625, #E5661D);
	background-image: -o-linear-gradient(top, #F08625, #E5661D);
	background-image: linear-gradient(to bottom, #F08625, #E5661D);
}
/* Button Add */
a.button-add {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	outline: none;
	cursor: pointer;
}
/* Buttons */
.buttons {
	background: #FCFCFC;
	border: 1px solid #E7E7E7;
	margin-bottom: 20px;
	padding: 6px;
	overflow: auto;
}
.buttons .left {
	float: left;
	text-align: left;
	color: #444;
}
.buttons .right {
	float: right;
	text-align: right;
	color: #444;
}
.buttons .left h4, .buttons .right h4 {
	color: #444;
	font-size: 14px;
	margin: 0px;
	font-weight: normal;
	text-shadow: 0px 1px 0px #FCFCFC;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/* Htabs */
.htabs {
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDD;
	margin-bottom: 32px;
}
.htabs a {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #111;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid transparent;
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF));
	background-image: -webkit-linear-gradient(top, #EEE, #FFF);
	background-image: -moz-linear-gradient(top, #EEE, #FFF);
	background-image: -ms-linear-gradient(top, #EEE, #FFF);
	background-image: -o-linear-gradient(top, #EEE, #FFF);
	background-image: linear-gradient(to bottom, #EEE, #FFF);
	padding: 7px 15px 6px 15px;
	margin-right: 2px;
	margin-bottom: 0;
	display: none;
}
.htabs a.selected {
	background: #FFF;
	border-bottom: 1px solid #FFF;
	outline: 0;
}
.tab-content {
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
/* Box */
.box {
	margin-bottom: 15px;
}
.box .box-heading {
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	padding: 8px 10px;
	margin: 0px;
}
.box .box-content {
	padding: 10px 7px;
	margin: 0px;
}
/* Box products */
.box-product {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	overflow-x: hidden;
}
.box-product > div {
	width: 19%;
	min-width: 175px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
}
#column-left + #column-right + #content .box-product > div {
	width: 19%;
	min-width: 145px;
}
.box-product .image {
	display: block;
	margin-bottom: 7px;
}
.box-product .image img {
	padding: 2px;
}
.box-product .name a {
	display: block;
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.box-product .price {
	display: block;
	color: #555;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #FFF;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #CC2626;
	text-decoration: line-through;
}
.box-product .price-new {
}
.box-product .brand {
	display: block;
	color: #111;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
.box-product .remaining {
	display: block;
	color: #CC2626;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
}
.box-product .stock-status {
	display: block;
	color: #CC2626;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
}
.box-product .offer a {
	display: block;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 2px;
	padding: 5px;
}
/* Box category */
.box-category > ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li:first-child {
	padding: 0px 5px 8px 0px;
}
.box-category > ul > li {
	padding: 8px 5px 8px 0px;
}
.box-category > ul > li + li {
	border-top: 1px solid #E7E7E7;
}
.box-category > ul > li a {
	text-decoration: none;
	outline: none;
	color: #333;
}
.box-category > ul > li a:hover {
	color: #22C0F0;
}
.box-category > ul > li > ul {
	list-style: url('../image/arrow-right-box.png');
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li a.active + ul {
	padding-left: 12px;
	display: block;
}
.box-category > ul > li > ul > li {
	padding: 6px 5px 0px 3px;
}
.box-category > ul > li > ul > li a {
	text-decoration: none;
	outline: none;
	display: block;
}
.box-category > ul > li > ul > li a:hover {
	color: #22C0F0;
}
.box-category > ul > li > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li > ul > li a.active span.inactive {
	font-weight: normal;
}
/* Box information */
.box-information ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-information > ul > li {}
.box-information > ul > li:hover {}
.box-information > ul > li + li {
	border-top: 1px solid #E7E7E7;
}
.box-information > ul > li > a {
	text-decoration: none;
	background: none;
	display: block;
	outline: none;
	padding: 8px 7px;
	color: #333;
}
.box-information > ul > li > a:hover {
	color: #22C0F0;
}
/* Box account */
.box-account ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-account > ul > li {}
.box-account > ul > li:hover {}
.box-account > ul > li + li {}
.box-account > ul > li > a {
	text-decoration: none;
	background: none;
	display: block;
	outline: none;
	padding: 8px 0px;
	font-size: 15px;
	color: #333;
}
.box-account > ul > li > a:hover {
	color: #22C0F0;
}
.box-account > ul > li > a img {
	margin-right: 20px;
}
/* Box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #E7E7E7;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* Box news */
.box-news {
	background: #FFF;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.box-news h4 {
	margin-top: 0px;
	margin-bottom: 5px;
}
.box-news a img, .box-news img {
	float: right;
	margin-left: 2px;
	margin-bottom: 2px;
}
.box-news p {
	margin-top: 0px;
	margin-bottom: 5px;
}
.box-news a.read {
	float: right;
	text-decoration: none;
	margin-bottom: 3px;
}
.box-news span {
	font-size: 10px;
	margin-bottom: 3px;
}
.news-list > div {
	overflow: auto;
	padding: 10px;
	margin: 15px 0px;
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.news-list .right {
	float: right;
	margin-left: 15px;
}
.news-list .read {
	margin: 5px 5px 20px 5px;
}
.news-list .image {
	float: left;
	margin-right: 10px;
}
.news-list .image img, .news-grid .image img {
	padding: 3px;
}
.news-list .title, .news-grid .title {
	margin-bottom: 8px;
}
.news-list .title a, .news-grid .title a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}
.news-list .description {
	color: #4D4D4D;
	line-height: 15px;
	margin-bottom: 5px;
}
.news-list .date, .news-grid .date {
	margin-bottom: 2px;
	font-size: 10px;
}
.news-grid {
	width: 100%;
	overflow: auto;
}
.news-grid > div {
	display: inline-block;
	width: 130px;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 15px;
	text-align: center;
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#column-left + #column-right + #content .news-grid > div {
	width: 125px;
}
.news-grid .read {
	margin: 5px 5px 10px 5px;
}
.news-grid .image {
	display: block;
	margin-bottom: 0px;
}
.news-grid .description {
	display: none;
}
/* Content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 15px;
	border: 1px solid #E7E7E7;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
#content .heading-description {
	font-family: Arial, Helvetica, sans-serif;
	color: #444;
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 20px;
}
/* List Pages */
.tier-page {
	overflow: auto;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 100%;
}
.tier-page ul { 
	list-style: url('../image/bullet-3.png');
}
.tier-page ul li {
	text-decoration: none;
}
.tier-page ul li a {
	text-decoration: none;
	font-size: 13px;
	color: #333;
}
.tier-page ul li a:hover {
	color: #22C0F0;
}
.tier-page ul li.head, .tier-page div.head {
	list-style: none;
	background: #F4F4F4;
	margin-bottom: 3px;
	margin-left: -15px;
	padding: 5px 5px 5px 10px;
}
.tier-page ul li.head a, .tier-page div.head a {
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	text-shadow: 0px 1px 0px #FCFCFC;
	color: #333;
}
.tier-page ul li.head a:hover, .tier-page div.head a:hover {
	color: #22C0F0;
}
.tier-page ul li ul { 
	list-style: url('../image/arrow-right.png');
	margin-bottom: 5px;
	margin-left: -10px;
}
.tier-page .left, .tier-page .middle, .tier-page .right {
	float: left;
	width: 31%;
}
.tier-page .left div.head, .tier-page .middle div.head, .tier-page .right div.head {
	margin: 10px 5px;
	font-weight: bold;
}
/* Category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}
/* Refine */
.category-list {
	overflow: auto;
	margin-bottom: 25px;
	padding: 0px;
}
.category-list > ul.refine {
	float: left;
	width: 22%;
	list-style: none;
	padding-left: 20px;
	margin: 0px;
}
.category-list > ul.refine > li a {
	text-decoration: none;
	line-height: 16px;
}
.category-list > ul.refine > li a:hover {
	color: #0D6D98;
}
/* Manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* Product filter */
.product-filter {
	border-bottom: 1px solid #E7E7E7;
	padding-bottom: 5px;
	margin-bottom: 15px;
	overflow: auto;
}
.product-filter .display {
	float: left;
	padding-top: 4px;
	margin-right: 15px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	float: right;
	margin-left: 15px;
	color: #333;
}
/* Product Compare */
.product-compare {
	float: left;
	padding-top: 4px;
}
.product-compare a {
	color: #777;
	font-size: 11px;
	line-height: 20px;
	text-decoration: none;
	background: url('../image/icon_compare.png') 0px 0px no-repeat;
	padding: 0px 0px 0px 26px;
	display: block;
	overflow: auto;
}
.product-compare a:hover {
	color: #38B0E3;
}
/* Product list */
.product-list > div {
	overflow: auto;
	margin: 15px 0px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #E7E7E7;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}
.product-list .manufacturer {
	color: #444;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 3px;
}
.product-list .description {
	color: #4D4D4D;
	line-height: 15px;
	margin-bottom: 5px;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .remaining {
	display: block;
	color: #CC2626;
	font-weight: bold;
	text-decoration: none;
}
.product-list .price {
	float: right;
	height: 50px;
	color: #555;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #FFF;
	text-align: right;
	margin-left: 8px;
}
.product-list .price-old {
	color: #CC2626;
	text-decoration: line-through;
}
.product-list .price-new {
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBB;
}
.product-list .cart {
	margin: 3px auto;
}
.product-list .cart span.stock-status, span.stock-status {
	display: block;
	color: #CC2626;
	font-weight: bold;
	text-decoration: none;
}
.product-list .addons {
	display: inline-block;
	margin: 4px auto;
}
/* Product grid */
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	display: inline-block;
	width: 130px;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 15px;
	text-align: center;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
}
.product-grid .name a {
	display: block;
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
}
.product-grid .manufacturer {
	display: block;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .remaining {
	display: block;
	color: #CC2626;
	font-weight: bold;
	text-decoration: none;
}
.product-grid .price {
	display: block;
	color: #555;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #FFF;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #CC2626;
	text-decoration: line-through;
}
.product-grid .price-new {
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .addons {
	display: inline-block;
	margin: 4px auto;
}
/* Product info */
.product-info {
	width: 100%;
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	min-height: 250px;
	margin-right: 20px;
}
.product-info > .right {
	float: left;
	min-width: 290px;
	min-height: 250px;
	margin-left: 0px;
	margin-right: auto;
}
.product-info > .left + .right {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}
.product-info > .left .image {
	float: left;
	text-align: center;
	margin-bottom: 20px;
}
.product-info > .left .image img {
	border: 1px solid #E7E7E7;
	padding: 10px;
}
.product-info > .left .image-additional {
	clear: left;
	min-height: 80px;
	max-width: 260px;
	margin: 0px;
	padding: 0px;
	overflow: auto;
}
.product-info > .left .image-additional a {
	float: left;
	display: block;
	margin: 0px 10px 10px 0px;
}
.product-info > .left .image-additional img {
	border: 1px solid #E7E7E7;
	padding: 2px;
}
.product-info .description {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #222;
}
.product-info .description a {
	color: #38B0E3;
	text-decoration: none;
}
.product-info .color-range {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 0px 10px 5px;
	margin-bottom: 10px;
	line-height: 30px;
}
.product-info .color-range span.color {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	border: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px #DDD;
	-moz-box-shadow: 0px 1px 2px #DDD;
	box-shadow: 0px 1px 2px #DDD;
	line-height: 20px;
	text-align: center;
	margin: 5px 10px 5px 0px;
}
.product-info .price {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #E7E7E7;
	color: #333;
}
.product-info .price-old {
	color: #CC2626;
	text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #888;
}
.product-info .price .reward {
	font-size: 11px;
	font-weight: normal;
	color: #888;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 13px;
	color: #4D4D4D;
	margin-top: 6px;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #111;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #D7D7D7;
	cursor: pointer;
}
.product-info .review {
	color: #4D4D4D;
	border: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review .rating {
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
	padding: 8px;
}
.product-info .review .rating img {
	vertical-align: middle;
}
.product-info .review .rating a {
	text-decoration: none;
}
.product-info .review .share {
	line-height: 20px;
	padding: 8px;
	overflow: hidden;
}
.product-info .review .share a {
	text-decoration: none;
}
/* Product Cart */
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 10px 10px 15px 10px;
	margin-bottom: 20px;
	overflow: auto;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
	font-size: 14px;
}
.product-info .cart div .quantity-input {
	float: left;
	width: 32px;
	background: rgba(255,255,255,1);
	border-top: 1px solid #EBEBEB;
	border-bottom: 2px solid #EBEBEB;
	border-left: 1px solid #EDEDED;
	border-right: 1px solid #EDEDED;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
	color: #666;
	text-align: center;
	padding: 6px;
	margin: 0px;
}
.product-info .cart div > span {
	display: inline-block;
	margin-left: 10px;
	padding-top: 0px;
	padding-right: 10px;
	line-height: 32px;
	color: #999;
}
.product-info .cart div > span img {
	vertical-align: middle;
	cursor: pointer;
}
.product-info .cart div > span.stock-status {
	color: #CC2626;
	font-weight: bold;
	text-decoration: none;
}
.product-info .cart .minimum {
	margin-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
/* Product add/sub */
.add-prod-count {
	float: left;
	height: 32px;
	width: 24px;
	background: #EBEBEB url('../image/plus.png') center center no-repeat;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-khtml-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}
.add-prod-count:hover {
	background: #DDD url('../image/plus.png') center center no-repeat;
}
.sub-prod-count {
	float: left;
	height: 32px;
	width: 24px;
	background: #EBEBEB url('../image/minus.png') center center no-repeat;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius:  3px 0 0 3px;
	-khtml-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	cursor: pointer;
}
.sub-prod-count:hover {
	background: #DDD url('../image/minus.png') center center no-repeat;
}
/* Tags */
.tags {
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	margin-bottom: 15px;
	border-top: 1px solid #E7E7E7;
	font-size: 13px;
}
.tags a {
	text-decoration: none;
}
.tags a:hover {
	color: #444;
}
/* Add Review */
#add-review {
	float: left;
	width: 49%;
	min-width: 275px;
	display: block;
}
#add-review textarea {
	width: 270px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	resize: vertical;
}
#add-review div.review-element {
	margin-bottom: 10px;
}
#add-review .review-rating {
	margin-top: 15px;
	margin-bottom: 10px;
}
#add-review .review-rating input, #add-review .review-rating img {
	height: 20px;
	vertical-align: middle;
}
/* Reviews */
#review {
	float: right;
	width: 49%;
	min-width: 275px;
	display: block;
}
#review .content {
	background: #FFF;
	border: 1px solid #E7E7E7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 15px;
	padding: 10px 5px;
}
/* Review Box */
.review-box {
	border-top: 1px solid #E7E7E7;
	margin-bottom: 10px;
	padding: 10px;
}
.review-box .author {
	margin-bottom: 5px;
}
.review-box .rating {
	display: block;
	float: right;
}
.review-box .text {
	clear: both;
	color: #444;
	font-size: 13px;
	font-style: italic;
}
/* Review List */
.review-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.review-list .right {
	float: right;
	margin-left: 15px;
}
.review-list > div + div {
	border-top: 1px solid #E7E7E7;
	padding-top: 16px;
}
.review-list .image {
	float: left;
	margin-right: 10px;
}
.review-list .image img {
	padding: 3px;
}
.review-list .name {
	margin-bottom: 3px;
}
.review-list .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}
.review-list .text {
	color: #444;
	font-size: 13px;
	font-style: italic;
	line-height: 15px;
	margin-bottom: 5px;
}
.review-list .author, .review-list .date {
	font-size: 10px;
	margin-bottom: 3px;
}
.review-list .rating {
	display: block;
	margin-bottom: 3px;
}
.review-list .remaining {
	display: block;
	color: #CC2626;
	font-weight: bold;
	text-decoration: none;
}
.review-list .cart {
	margin: 3px auto;
}
.review-list .addons {
	display: inline-block;
	margin: 4px auto;
}
/* Review Grid */
.review-grid {
	width: 100%;
	overflow: auto;
}
.review-grid > div {
	display: inline-block;
	width: 130px;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 15px;
	text-align: center;
}
#column-left + #column-right + #content .review-grid > div {
	width: 125px;
}
.review-grid .image {
	display: block;
	margin-bottom: 0px;
}
.review-grid .image img {
	padding: 3px;
}
.review-grid .name a {
	display: block;
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
}
.review-grid .text {
	display: none;
}
.review-grid .author, .review-grid .date {
	font-size: 10px;
	margin-bottom: 3px;
}
.review-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.review-grid .remaining {
	display: block;
	color: #CC2626;
	font-weight: bold;
	text-decoration: none;
}
.review-grid .cart {
	margin-bottom: 3px;
}
.review-grid .addons {
	display: inline-block;
	margin: 4px auto;
}
/* Attribute */
.attribute {
	width: 100%;
	margin-bottom: 20px;
}
.attribute .attribute-group {
	color: #111;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
	padding: 7px;
}
.attribute .attribute-list {
	color: #111;
	font-weight: bold;
	border-bottom: 1px solid #F7F7F7;
	margin-bottom: 10px;
	padding: 0px;
}
.attribute .attribute-list div {
	display: inline-block;
	width: 100%;
	margin: 0px;
	padding: 5px 0px;
	overflow: hidden;
}
.attribute .attribute-list div > .attribute-list-left {
	float: left;
	width: 25%;
	text-align: right;
}
.attribute .attribute-list div > .attribute-list-right {
	float: right;
	width: 75%;
	text-align: center;
	color: #4D4D4D;
}
/* Compare info */
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #111;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #111;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #CC2626;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* Wishlist info */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDD;
}
.wishlist-info tbody .image img {
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price {
	color: #333;
}
.wishlist-info tbody .price-old {
	color: #CC2626;
	text-decoration: line-through;
}
.wishlist-info tbody .price-new {
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
/* Login */
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
	min-width: 270px;
}
.login-content .right {
	float: right;
	width: 48%;
	min-width: 270px;
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* Orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* Returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}
.return-list .return-content div {
	float: left;
	width: 49%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 48%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 48%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 48%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 48%;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	overflow: auto;
}
/* Captcha */
#captcha-wrap {
	width: 270px;
	height: 97px;
	background: #870500;
	border: 1px solid #870500;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	text-align: left;
}
#captcha-wrap .captcha-box {
	background: #FAFAFA;
	border: 1px solid #FAFAFA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
#captcha-wrap .captcha-box .captcha-view {
	width: 262px;
	height: 42px;
}
#captcha-wrap .captcha-box .captcha-view img {
	display: none;
	margin-left: auto;
	margin-right: auto;
}
#captcha-wrap .captcha-text {
	width: 140px;
	height: 43px;
	float: left;
	background: #FFDC73;
	border: 1px solid #FFDC73;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	margin: 4px;
}
#captcha-wrap .captcha-text input {
	width: 120px;
}
#captcha-wrap .captcha-text label {
	color: #111;
	font-size: 12px;
	width: 150px;
	padding-top: 3px;
	padding-bottom: 4px;
}
#captcha-wrap .captcha-action {
	width: 117px;
	height: 44px;
	float: right;
	background: url('../image/logos.jpg') top right no-repeat;
	margin-top: 3px;
	margin-right: 1px;
}
/* Downloads */
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* Cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDD;
}
.cart-info tbody .image img {
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	outline: none;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* Checkout */
.checkout-heading {
	padding: 9px 8px;
	margin-bottom: 15px;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FCFCFC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEE));
	background-image: -webkit-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -moz-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -ms-linear-gradient(top, #FCFCFC, #EEE);
	background-image: -o-linear-gradient(top, #FCFCFC, #EEE);
	background-image: linear-gradient(to bottom, #FCFCFC, #EEE);
	font-weight: bold;
	font-size: 13px;
	color: #555;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons, .checkout-product {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDD;
}
/* Checkout One Page */
table.checkout-one-page {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.checkout-one-page tr td {
	vertical-align: top;
}
table.address-options, table.order-options {
	width: 100%;
	background: #FEFEFE;
	border: 1px solid #EEE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 4px;
}
table.address-options tr td h2, table.order-options tr td h2 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 3px;
	margin-left: 3px;
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 1px 1px #EEE;
}
table.address-options tr td > div.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #CC2626;
	display: block;
}
table.order-options tr td > div.division {
	margin: 15px auto;
	border-top: 1px solid #DDD;
	display: block;
}
/* Content Info */
.content-info {
	background: #FFF;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px dotted #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.content-info .info {
	width: 100%;
}
.content-info .info a {
	text-decoration: none;
}
.content-info .info .image {
	float: right;
}
/* Contact */
.contact-info {
	width: 100%;
	overflow: auto;
}
.contact-info .info-left {
	float: left;
	width: 56%;
	min-width: 270px;
	margin-left: 5px;
	margin-right: 15px;
}
.contact-info .info-right {
	float: left;
	width: 36%;
	min-width: 270px;
	margin-left: 25px;
}
/* Search */
.search-bar {
	background: #F8F8F8;
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 15px;
}
.search-bar > div {
	padding: 12px;
	overflow: hidden;
}
/* Sitemap */
.sitemap-info {
	overflow: auto;
	margin-bottom: 30px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
.sitemap-info .left a, .sitemap-info .right a {
	color: #333;
	font-size: 13px;
	text-decoration: none;
}
.sitemap-info .left a:hover, .sitemap-info .right a:hover {
	color: #38B0E3;
}
.sitemap-info .left > ul, .sitemap-info .right > ul {
	list-style: url('../image/bullet-3.png');
	margin-bottom: 5px;
}
.sitemap-info .left > ul > li, .sitemap-info .right > ul > li {
	margin: 2px 0px;
}
.sitemap-info .left > ul > li.last-line, .sitemap-info .right > ul > li.last-line {
	margin-bottom: 10px;
}
.sitemap-info .left > ul > li ul, .sitemap-info .right > ul > li ul {
	list-style: url('../image/arrow-right.png');
	margin-bottom: 5px;
}
.sitemap-info .left > ul > li ul > li, .sitemap-info .right > ul > li ul > li {
	margin: 2px 0px;
}
.sitemap-info .left > ul > li ul > li ul {
	list-style: url('../image/arrow-right.png');
	margin-bottom: 5px;
}
.sitemap-info .left > ul > li ul > li ul > li, .sitemap-info .right > ul > li ul > li ul > li {
	margin: 2px 0px;
}
/* Labels */
.stock-large, .offer-large, .special-large {
	position: relative;
	top: 0;
	left: 0;
	height: 90px;
	width: 90px;
	display: block;
	margin: 0px 0px -90px 0px;
	padding: 0px;
	z-index: 9;
}
.stock-medium, .offer-medium, .special-medium {
	position: relative;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	display: block;
	margin: 0px 0px -50px 0px;
	padding: 0px;
	z-index: 9;
}
.stock-small, .offer-small, .special-small {
	position: relative;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	display: block;
	margin: 0px 0px -30px 0px;
	padding: 0px;
	z-index: 9;
}
/* Banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 0px;
}
/* Autocomplete */
.ui-autocomplete {
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	list-style: none;
	margin: 0px;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	padding: 3px 10px 3px 4px;
}
/* Back to top */
#backtotop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 9999;
}
#backtotop p {
	margin-bottom: 20px;
	margin-top: 0px;
}
#backtotop a:hover span {
	background-position: bottom;
	display: block;
	width: 35px;
}
#backtotop a:hover span {
	background-position: 0% -34px;
}
#backtotop span {
	background: url('../image/up-arrow.png') 0% 0px no-repeat transparent;
	display: block;
	height: 20px;
	width: 35px;
}
/* Powered */
#powered {
	clear: both;
	text-align: right;
	margin-top: 8px;
}
/* Tablets */
@media only screen and (min-width: 620px) and (max-width: 960px) {
	#container {
		width: auto;
		margin: 0px 10px;
	}
	#column-left {
		float: left;
		width: 190px;
	}
	#column-right {
		float: right;
		width: 190px;
	}
	#content {
		padding: 0px 10px;
	}
	#column-left + #column-right + #content, #column-left + #content {
		margin-left: 210px;
	}
	#column-right + #content {
		margin-right: 210px;
	}
	/* Reviews */
	#review {
		float: left;
	}
	#add-review {
		clear: left;
	}
	/* General */
	.hide-phone {
		display: block;
	}
}
/* Phones */
@media only screen and (max-width: 620px) {
	html {-webkit-text-size-adjust: none;}
	body {padding: 10px 0px;}
	#container {
		width: auto;
		min-width: 320px;
		margin-top: 0;
		padding: 0;
	}
	#content {
		min-height: 200px;
		margin-bottom: 15px;
		padding: 0;
	}
	#column-left, #column-right, #content {
		position: relative;
		float: left;
		clear: left;
		width: 100%;
		margin-left: 0;
	}
	#column-left + #column-right + #content, #column-left + #content {
		margin-left: 0;
	}
	#column-right + #content {
		margin-right: 0;
	}
	/* Header */
	#header {
		height: 188px;
		text-align: center;
	}
	#header #logo {
		position: relative;
		top: 0px;
		left: 0px;
		margin: 0px auto;
		padding-top: 16px;
	}
	#header #logo img {
		max-width: 85%;
		max-height: 50px;
	}
	#header #cart {
		position: relative;
		text-align: center;
		top: -6px;
		left: 0px;
	}
	#header #cart .heading {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	#header #cart .content {
		margin-left: 8px;
		margin-right: 8px;
	}
	#header #cart .heading a span {
		display: inline-block;
	}
	#header #welcome {
		position: relative;
		margin: 8px 10px;
		width: auto;
		top: 0;
		left: 0;
		right: 0;
		text-align: left;
		text-align: center;
	}
	#header-bottom {
		position: absolute;
		margin: 8px 0px;
		right: 0;
		top: 134px;
		width: 100%;
		text-align: left;
		height: 28px;
	}
	#header #search {
		float: none;
		position: relative;
		text-align: center;
		width: 216px;
		margin: 0 auto 28px auto;
	}
	#header #search .search-inside {
		display: block;
	}
	#header #search input {
		width: 196px;
	}
	/* Menu Selectors*/
	#currency-selector {
		box-shadow: none;
		line-height: 21px;
		margin-top: 0px;
		background: #FFF;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		z-index: 575;
	}
	#language {
		margin-right: 12px;
	}
	#language-selector {
		box-shadow: none;
		line-height: 21px;
		margin-top: 0px;
		background: #FFF;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		z-index: 575;
	}
	/* Content */
	#content .content .left, #content .content .right {
		width: 100%;
	}
	#content .content .right {
		clear: left;
		float: left;
	}
	#return-product .content .return-product, #return-product .content .return-detail {
		width: 100%;
	}
	#return-product .content .return-detail {
		clear: left;
		float: left;
	}
	/* Reviews */
	#review {
		float: left;
	}
	#add-review {
		clear: left;
	}
	/* Login */
	.login-content .right {
		clear: left;
		float: left;
	}
	/* Contact */
	.contact-info .info-right {
		clear: left;
	}
	/* General */
	.hide-phone {
		display: none;
	}
}
