html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
* {
	font-family: Arial, Verdana, sans-serif;
}
body {
	background: #F6F6F6 url('../image/background.png');
	padding: 0px;
	margin: 0px;
}
body, p, td, th, input, textarea, select {
	color: #777;
	font-size: 13px;
	text-decoration: none;
}
option {
	color: #111;
	font-size: 13px;
	text-decoration: none;
}
#container > h1 {
	background: url('../image/heading.png') repeat-y;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	padding: 26px 27px;
	margin-top: 0px;
	margin-bottom: 25px;
	vertical-align: middle;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
p, ul, ol, li, td {
	line-height: 18px;
}
form {
	display: inline;
	padding: 0;
	margin: 0;
}
fieldset {
	border: 1px solid #DBDBDB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 20px;
}
fieldset table {
	width: 100%;
	border-collapse: collapse;
}
fieldset table.form tr td:first-child {
	width: 250px;
}
fieldset table.form tr td {
	padding: 5px;
}
fieldset table.form tr td.text-center {
	text-align: center;
}
input[type='text'], input[type='password'], textarea {
	padding: 3px 0px 3px 4px;
	min-height: 16px;
	margin-left: 0px;
	margin-right: 0px;
	border-top: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	border-bottom: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -moz-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -ms-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -o-linear-gradient(top, #F2F5F7, #FFF);
	background-image: linear-gradient(to bottom, #F2F5F7, #FFF);
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
}
select {
	padding: 2px;
	border-top: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	border-bottom: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -moz-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -ms-linear-gradient(top, #F2F5F7, #FFF);
	background-image: -o-linear-gradient(top, #F2F5F7, #FFF);
	background-image: linear-gradient(to bottom, #F2F5F7, #FFF);
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	-moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
	box-shadow: inset 0 2px 0 -1px #EDEDED;
}
a, a:visited, a b {
	color: #23A1D1;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
img {
	margin: 0;
	padding: 0;
}
a img {
	border: none;
}
b, strong {
	color: #555;
}
label {
	cursor: pointer;
}
/* Content */
#container {
	width: 960px;
	margin: 0 auto;
}
#header {
	height: 100px;
	position: relative;
}
#header #logo {
	position: absolute;
	left: 3px;
	top: 26px;
	width: 264px;
	height: 50px;
}
#column-right {
	float: right;
	width: 284px;
	margin-left: 30px;
	margin-bottom: 20px;
	min-height: 350px;
}
#column-right ul, #column-right ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#column-right ul ul {
	margin-left: 30px;
}
#column-right ul a, #column-right ul a b {
	color: #777;
	text-decoration: none;
}
#column-right ul li {
	display: block;
	border-bottom: 1px solid #DBDBDB;
	background: url('../image/bullet-arrow.png') 0px 5px no-repeat;
	padding: 0px 8px 8px 22px;
	margin-bottom: 8px;
}
#content {
	min-height: 350px;
	margin-bottom: 20px;
	overflow: hidden;
}
/* Message */
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	color: #555;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.attention {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	color: #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.required, .error, .bad {
	color: #CC2626;
}
.good {
	color: #11BB11;
}
/* Button */
a.button, input.button {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #28B0EC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#28B0EC), to(#079BDC));
	background-image: -webkit-linear-gradient(top, #28B0EC, #079BDC);
	background-image: -moz-linear-gradient(top, #28B0EC, #079BDC);
	background-image: -ms-linear-gradient(top, #28B0EC, #079BDC);
	background-image: -o-linear-gradient(top, #28B0EC, #079BDC);
	background-image: linear-gradient(to bottom, #28B0EC, #079BDC);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 2px #DDD;
	-moz-box-shadow: 0px 2px 2px #DDD;
	box-shadow: 0px 2px 2px #DDD;
	cursor: pointer;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
}
input.button {
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
}
a.button:hover, input.button:hover, input.button-cart:hover {
	background-color: #0D6D98;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0D6D98), to(#045C84));
	background-image: -webkit-linear-gradient(top, #0D6D98, #045C84);
	background-image: -moz-linear-gradient(top, #0D6D98, #045C84);
	background-image: -ms-linear-gradient(top, #0D6D98, #045C84);
	background-image: -o-linear-gradient(top, #0D6D98, #045C84);
	background-image: linear-gradient(to bottom, #0D6D98, #045C84);
}
/* Buttons */
.buttons {
	border: 1px solid #DBDBDB;
	padding: 5px;
	margin-bottom: 20px;
	overflow: auto;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/* Terms */
.terms {
	background: #FFF;
	height: 360px;
	border: 1px solid #DBDBDB;
	margin: 3px 0px 10px 0px;
	padding: 4px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.terms p, .terms ul, .terms ol {
	color: #111;
}
/* Success */
.success {
	margin-bottom: 15px;
	overflow: auto;
}
.success div {
	float: left;
	width: 50%;
	text-align: center;
}
.success img {
	background: #FFF;
	width: 270px;
	border: 1px solid #DDD;
	padding: 5px;
	margin-bottom: 3px;
}
/* Footer */
#footer {
	text-align: center;
	margin-bottom: 25px;
}
#footer a {
	line-height: 28px;
	margin: 0px 5px;
}
